<section class="clients block">
  <div class="container">
    <h2 class="clients__title title">Не работаем по&nbsp;шаблону&nbsp;— подбираем под задачу</h2>
    <div class="clients__swiper-container">
      <div class="clients__swiper" data-swiper="navigation">
        <ul class="clients__swiper-wrapper">
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/private@1x.webp 1x, img/clients/private@2x.webp 2x">
                    <img src="img/clients/private@1x.jpg" srcset="img/clients/private@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Разбираемся в&nbsp;задаче</p>
                <p class="clients__text">Сначала понимаем, для какого объекта нужно оборудование, что именно должно работать, в&nbsp;каком режиме и&nbsp;при каких условиях.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/business@1x.webp 1x, img/clients/business@2x.webp 2x">
                    <img src="img/clients/business@1x.jpg" srcset="img/clients/business@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Подбираем под бюджет</p>
                <p class="clients__text">Не&nbsp;продаем &laquo;максимум на&nbsp;всякий случай&raquo;, а&nbsp;ищем решение, которое действительно подходит по&nbsp;задаче и&nbsp;финансовым возможностям клиента.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/construction@1x.webp 1x, img/clients/construction@2x.webp 2x">
                    <img src="img/clients/construction@1x.jpg" srcset="img/clients/construction@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Объясняем понятно</p>
                <p class="clients__text">Говорим без перегруза терминами, но&nbsp;с&nbsp;профессиональной логикой. Для нас важно, чтобы клиент понимал, почему ему предлагают именно такой вариант.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/production@1x.webp 1x, img/clients/production@2x.webp 2x">
                    <img src="img/clients/production@1x.jpg" srcset="img/clients/production@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Ориентируемся на&nbsp;реальную эксплуатацию</p>
                <p class="clients__text">Учитываем не&nbsp;только характеристики оборудования, но&nbsp;и&nbsp;условия установки, нагрузку, режим работы, требования к&nbsp;надежности и&nbsp;обслуживанию.</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="clients__swiper-scrollbar hidden"></div>
      </div>
    </div>
  </div>
</section>
