<section class="features block">
  <div class="container">
    <ul class="features__list">
      <li class="features__item features__item--atom">
        <p class="features__title">Широкий спектр оборудования</p>
      </li>
      <li class="features__item features__item--dialog">
        <p class="features__title">Честный подбор</p>
      </li>
      <li class="features__item features__item--tick">
        <p class="features__title">Профессиональный подход</p>
      </li>
      <li class="features__item features__item--gear">
        <p class="features__title">Услуги и сервис</p>
      </li>
    </ul>
    <button class="features__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
