<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Компания, которая помогает закрывать технические задачи объекта без лишней сложности</h2>
      <div class="page-hero__img">
        <picture>
          <source width="454" height="370" type="image/webp" srcset="img/services/install@1x.webp 1x, img/services/install@2x.webp 2x">
          <img src="img/services/install@1x.jpg" srcset="img/services/install@2x.jpg 2x" width="454" height="370" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>ЭнергоСтратег&nbsp;&mdash; это компания, которая работает в&nbsp;сфере силового, энергетического и&nbsp;строительного оборудования и&nbsp;помогает клиентам решать задачи, связанные с&nbsp;автономным и&nbsp;резервным электроснабжением, временным оснащением объектов и&nbsp;подбором техники под реальные условия эксплуатации.</p>
        <p>Мы&nbsp;работаем не&nbsp;по&nbsp;принципу &laquo;просто продать оборудование&raquo;, а&nbsp;по&nbsp;принципу понять задачу клиента и&nbsp;предложить подходящее решение. Для частных клиентов это означает понятное объяснение, честный подбор и&nbsp;отсутствие навязывания лишнего. Для бизнеса, стройки и&nbsp;технических объектов&nbsp;&mdash; это надежность, долговечность, грамотный подбор под нагрузку и&nbsp;понимание цены простоя.</p>
      </div>
    </div>
  </div>
</section>
