<section class="blog block-color">
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Статья</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Обзор</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Интервью</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
    </ul>
    <div class="blog__pagination">
        <a class="blog__pagination-button blog__pagination-button--first hidden" href="#">
          <span class="visually-hidden">Первая страница.</span>
        </a>
        <a class="blog__pagination-button blog__pagination-button--prev hidden" href="#">
          <span class="visually-hidden">Предыдущая страница.</span>
        </a>
        <ul class="blog__pagination-list">
          <li class="blog__pagination-item">
            <span class="blog__pagination-link blog__pagination-link--current">1</span>
          </li>
          <li class="blog__pagination-item">
            <a class="blog__pagination-link" href="#">2</a>
          </li>
        </ul>
        <a class="blog__pagination-button blog__pagination-button--next" href="#">
          <span class="visually-hidden">Следующая страница</span>
        </a>
        <a class="blog__pagination-button blog__pagination-button--last" href="#">
          <span class="visually-hidden">Последняя страница</span>
        </a>
      </div>
  </div>
</section>
