<section class="blog block-color">
  <div class="container">
    <h2 class="visually-hidden">Список статей</h2>
    <ul class="blog__list">
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Статья</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Обзор</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Интервью</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__content">
            <div class="blog__img">
              <picture>
                <source width="454" height="370" type="image/webp" srcset="img/articles/article-1@1x.webp 1x, img/articles/article-1@2x.webp 2x">
                <img src="img/articles/article-1@1x.jpg" srcset="imgarticles/article-1@2x.jpg 2x" width="454" height="370" alt="">
              </picture>
            </div>
            <p class="blog__subtitle">Новости</p>
          </div>
          <p class="blog__link button button--main">Читать</p>
        </a>
      </li>
    </ul>
    <div class="pagination">
      <a class="pagination__button pagination__button--first hidden" href="#">
        <span class="visually-hidden">Первая страница.</span>
      </a>
      <a class="pagination__button pagination__button--prev hidden" href="#">
        <span class="visually-hidden">Предыдущая страница.</span>
      </a>
      <ul class="pagination__list">
        <li class="pagination__item">
          <span class="pagination__link pagination__link--current">1</span>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">2</a>
        </li>
      </ul>
      <a class="pagination__button pagination__button--next" href="#">
        <span class="visually-hidden">Следующая страница</span>
      </a>
      <a class="pagination__button pagination__button--last" href="#">
        <span class="visually-hidden">Последняя страница</span>
      </a>
    </div>
  </div>
</section>
