<section class="quick block">
  <div class="container">
    <h2 class="quick__title title">Быстрый подбор</h2>
    <div class="quick__tabs tabs js-show-more">
      <ul class="quick__tablinks tabs__tablinks">
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="producer">По производителям</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="power">По мощности</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="function">По назначению</button>
        </li>
      </ul>
      <div class="quick__tabcontents tabs__tabcontents">
        <div class="quick__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="producer">
          <div class="quick__tabs">
            <div class="quick__subtabcontents">
              <ul class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-list-active js-show-more-mobile-only">
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">ACG</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">CTG</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Denzel</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">SDMO</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Cummins</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">FG Wilson</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Caterpillar</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Perkins</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Denyo</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Airman</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Honda</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Hyundai</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Kipor</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Fubag</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Huter</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">TSS</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">ТСС</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Europower</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Energo</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">A-iPower</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">SDEC</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Doosan</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Mitsubishi</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Yanmar</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Kubota</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Atlas Copco</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Genmac</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Gesan</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">GMGen</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">AKSA</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">CTG</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Pramac</a>
                </li>
              </ul>
              <button class="quick__show-more js-show-more-button" type="button"><span>Показать еще</span></button>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="power">
          <div class="quick__tabs">
            <div class="quick__subtabcontents">
              <ul class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only">
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="function">
          <div class="quick__tabs">
            <div class="quick__subtabcontents">
              <ul class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only">
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Портативные</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Промышленные</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
