<section class="catalog block">
  <h2 class="visually-hidden">Генераторы по типу</h2>
  <div class="container">
    <ul class="catalog__list">
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/dizel-tablet@1x.webp 1x, img/products/dizel-tablet@2x.webp 2x">
              <img src="img/products/dizel-tablet@1x.png" srcset="img/products/dizel-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <p class="catalog__subtitle">Дизель-генераторы (ДГУ)</p>
          <p class="catalog__text">Надежные решения для резервного и&nbsp;основного электроснабжения объектов, где важны мощность, стабильность и&nbsp;длительная работа под нагрузкой.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <p class="catalog__subtitle">Бензогенераторы</p>
          <p class="catalog__text">Удобный вариант для дома, дачи, небольших объектов и&nbsp;временного резервного питания, когда нужна простая и&nbsp;быстрая подача электроэнергии.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/gaz-tablet@1x.webp 1x, img/products/gaz-tablet@2x.webp 2x">
              <img src="img/products/gaz-tablet@1x.png" srcset="img/products/gaz-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <p class="catalog__subtitle">Газовые генераторы</p>
          <p class="catalog__text">Оптимальный выбор для объектов, где оборудование работает долго и&nbsp;регулярно.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/svar-tablet@1x.webp 1x, img/products/svar-tablet@2x.webp 2x">
              <img src="img/products/svar-tablet@1x.png" srcset="img/products/svar-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <p class="catalog__subtitle">Сварочные генераторы</p>
          <p class="catalog__text">Оборудование где нужно одновременно обеспечить электропитание и&nbsp;выполнять сварочные работы в&nbsp;полевых или строительных условиях.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
