<section class="features block">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <p class="features__desc">Мы&nbsp;предлагаем дизельные генераторы, которые идеально подходят для ваших условий эксплуатации, учитывая нагрузку и&nbsp;ваш бюджет. Наша задача&nbsp;&mdash; помочь вам выбрать не&nbsp;просто оборудование, а&nbsp;оптимальное решение для резервного или автономного электроснабжения, подходящее как для частного дома, так и&nbsp;для коммерческих или производственных нужд.</p>
    <ul class="features__list">
      <li class="features__item features__item--indicator">
        <p class="features__title">Подбираем генератор под задачу, а&nbsp;не&nbsp;просто по&nbsp;мощности</p>
      </li>
      <li class="features__item features__item--gear">
        <p class="features__title">Поставляем генераторы для разных сценариев</p>
      </li>
      <li class="features__item features__item--dialog">
        <p class="features__title">Помогаем не&nbsp;только выбрать, но&nbsp;и&nbsp;запустить в&nbsp;работу</p>
      </li>
      <li class="features__item features__item--lock">
        <p class="features__title">Сопровождаем после покупки</p>
      </li>
    </ul>
    <button class="features__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
