<section class="compare block-color">
  <div class="container">
    <h2 class="visually-hidden">Список товаров для сравнения</h2>
    <div class="compare__wrapper">
      <div class="compare__swiper-container">
        <div class="compare__swiper">
          <ul class="compare__swiper-wrapper" data-swiper="cards">
            <li class="compare__slide">
              <div class="compare__slide-container product-card card-favorite">
                <div class="product-card__header">
                  <div class="product-card__tags">
                    <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
                    <p class="product-card__tag product-card__tag--hit">Хит</p>
                  </div>
                  <div class="product-card__user">
                    <button class="product-card__user-button product-card__user-button--favorite">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--delete">
                      <span class="visually-hidden">Удалить из сравнения.</span>
                    </button>
                  </div>
                </div>
                <div class="product-card__content">
                  <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                  <div class="product-card__swiper-container">
                    <div class="product-card__swiper swiper">
                      <ul class="product-card__swiper-wrapper swiper-wrapper">
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                      </ul>
                      <div class="product-card__swiper-scrollbar"></div>
                    </div>
                  </div>
                  <dl class="product-card__details">
                    <div>
                      <dt>Напряжение:</dt>
                      <dd>220&nbsp;В</dd>
                    </div>
                    <div>
                      <dt>Стартер:</dt>
                      <dd>ручной стартер/электростартер</dd>
                    </div>
                    <div>
                      <dt>Альтернатор:</dt>
                      <dd>синхронный</dd>
                    </div>
                    <div>
                      <dt>Автозапуск:</dt>
                      <dd>нет</dd>
                    </div>
                  </dl>
                  <div class="product-card__button-container">
                    <p class="product-card__prices">
                      <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
                      <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
                    </p>
                    <button class="product-card__button button button--main" type="button">В корзину</button>
                  </div>
                  <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
                </div>
              </div>
            </li>
            <li class="compare__slide">
              <div class="compare__slide-container product-card card-favorite">
                <div class="product-card__header">
                  <div class="product-card__tags">
                    <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
                    <p class="product-card__tag product-card__tag--hit">Хит</p>
                  </div>
                  <div class="product-card__user">
                    <button class="product-card__user-button product-card__user-button--favorite">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--delete">
                      <span class="visually-hidden">Удалить из сравнения.</span>
                    </button>
                  </div>
                </div>
                <div class="product-card__content">
                  <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                  <div class="product-card__swiper-container">
                    <div class="product-card__swiper swiper">
                      <ul class="product-card__swiper-wrapper swiper-wrapper">
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                      </ul>
                      <div class="product-card__swiper-scrollbar"></div>
                    </div>
                  </div>
                  <dl class="product-card__details">
                    <div>
                      <dt>Напряжение:</dt>
                      <dd>220&nbsp;В</dd>
                    </div>
                    <div>
                      <dt>Стартер:</dt>
                      <dd>ручной стартер/электростартер</dd>
                    </div>
                    <div>
                      <dt>Альтернатор:</dt>
                      <dd>синхронный</dd>
                    </div>
                    <div>
                      <dt>Автозапуск:</dt>
                      <dd>нет</dd>
                    </div>
                  </dl>
                  <div class="product-card__button-container">
                    <p class="product-card__prices">
                      <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
                      <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
                    </p>
                    <button class="product-card__button button button--main" type="button">В корзину</button>
                  </div>
                  <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
                </div>
              </div>
            </li>
            <li class="compare__slide">
              <div class="compare__slide-container product-card card-favorite">
                <div class="product-card__header">
                  <div class="product-card__tags">
                    <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
                    <p class="product-card__tag product-card__tag--hit">Хит</p>
                  </div>
                  <div class="product-card__user">
                    <button class="product-card__user-button product-card__user-button--favorite">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--delete">
                      <span class="visually-hidden">Удалить из сравнения.</span>
                    </button>
                  </div>
                </div>
                <div class="product-card__content">
                  <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                  <div class="product-card__swiper-container">
                    <div class="product-card__swiper swiper">
                      <ul class="product-card__swiper-wrapper swiper-wrapper">
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                      </ul>
                      <div class="product-card__swiper-scrollbar"></div>
                    </div>
                  </div>
                  <dl class="product-card__details">
                    <div>
                      <dt>Напряжение:</dt>
                      <dd>220&nbsp;В</dd>
                    </div>
                    <div>
                      <dt>Стартер:</dt>
                      <dd>ручной стартер/электростартер</dd>
                    </div>
                    <div>
                      <dt>Альтернатор:</dt>
                      <dd>синхронный</dd>
                    </div>
                    <div>
                      <dt>Автозапуск:</dt>
                      <dd>нет</dd>
                    </div>
                  </dl>
                  <div class="product-card__button-container">
                    <p class="product-card__prices">
                      <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
                      <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
                    </p>
                    <button class="product-card__button button button--main" type="button">В корзину</button>
                  </div>
                  <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
                </div>
              </div>
            </li>
            <li class="compare__slide">
              <div class="compare__slide-container product-card card-favorite">
                <div class="product-card__header">
                  <div class="product-card__tags">
                    <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
                    <p class="product-card__tag product-card__tag--hit">Хит</p>
                  </div>
                  <div class="product-card__user">
                    <button class="product-card__user-button product-card__user-button--favorite">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="product-card__user-button product-card__user-button--delete">
                      <span class="visually-hidden">Удалить из сравнения.</span>
                    </button>
                  </div>
                </div>
                <div class="product-card__content">
                  <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                  <div class="product-card__swiper-container">
                    <div class="product-card__swiper swiper">
                      <ul class="product-card__swiper-wrapper swiper-wrapper">
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                        <li class="product-card__slide swiper-slide">
                          <div class="product-card__img">
                            <picture>
                              <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                            </picture>
                          </div>
                        </li>
                      </ul>
                      <div class="product-card__swiper-scrollbar"></div>
                    </div>
                  </div>
                  <dl class="product-card__details">
                    <div>
                      <dt>Напряжение:</dt>
                      <dd>220&nbsp;В</dd>
                    </div>
                    <div>
                      <dt>Стартер:</dt>
                      <dd>ручной стартер/электростартер</dd>
                    </div>
                    <div>
                      <dt>Альтернатор:</dt>
                      <dd>синхронный</dd>
                    </div>
                    <div>
                      <dt>Автозапуск:</dt>
                      <dd>нет</dd>
                    </div>
                  </dl>
                  <div class="product-card__button-container">
                    <p class="product-card__prices">
                      <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
                      <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
                    </p>
                    <button class="product-card__button button button--main" type="button">В корзину</button>
                  </div>
                  <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
                </div>
              </div>
            </li>
          </ul>
          <div class="compare__swiper-scrollbar"></div>
        </div>
      </div>
      <div class="compare__controls">
        <label class="compare__toggle">
          <span class="compare__label">В чем разница</span>
          <input class="visually-hidden" type="checkbox" name="difference" required>
        </label>
        <p class="compare__diff compare__diff--min">Наименьшее значение&nbsp;-</p>
        <p class="compare__diff compare__diff--max">Наибольшее значение&nbsp;-</p>
      </div>
      <div class="compare__chars">
        <div class="compare__char-swiper">
          <ul class="compare__char-swiper-wrapper">
            <li class="compare__char-slide compare__char-slide--main">
              <ul class="compare__char-list">
                <li class="compare__char-group swiper-no-swiping">
                  <p>Общие характеристики</p>
                  <dl>
                    <dt>Тип оборудования</dt>
                    <dd>
                      <span>дизельная электростанция</span>
                      <span>дизельная электростанция</span>
                      <span>дизельная электростанция</span>
                      <span>дизельная электростанция</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Тип исполнения</dt>
                    <dd>
                      <span>открытая</span>
                      <span>открытая</span>
                      <span>открытая</span>
                      <span>открытая</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Номинальное напряжение</dt>
                    <dd>
                      <span class="compare__diff-item compare__diff-item--min">220 В</span>
                      <span class="compare__diff-item compare__diff-item--max">220 В</span>
                      <span>220 В</span>
                      <span>220 В</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Максимальная мощность</dt>
                    <dd>
                      <span>5,5 кВт</span>
                      <span>5,5 кВт</span>
                      <span>5,5 кВт</span>
                      <span>5,5 кВт</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Номинальная мощность</dt>
                    <dd>
                      <span>5 кВт</span>
                      <span>5 кВт</span>
                      <span>5 кВт</span>
                      <span>5 кВт</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Номинальный ток</dt>
                    <dd>
                      <span>20,5 А</span>
                      <span>20,5 А</span>
                      <span>20,5 А</span>
                      <span>20,5 А</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Габариты</dt>
                    <dd>
                      <span>710 × 495 × 665 мм.</span>
                      <span>710 × 495 × 665 мм.</span>
                      <span>710 × 495 × 665 мм.</span>
                      <span>710 × 495 × 665 мм.</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Вес</dt>
                    <dd>
                      <span>113 кг</span>
                      <span>113 кг</span>
                      <span>113 кг</span>
                      <span>113 кг</span>
                    </dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Системы управления и электрики</p>
                  <dl>
                    <dt>Контроль напряжения</dt>
                    <dd>
                      <span>AVR</span>
                      <span>AVR</span>
                      <span>AVR</span>
                      <span>AVR</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Тип альтернатора</dt>
                    <dd>
                      <span>синхронный</span>
                      <span>синхронный</span>
                      <span>синхронный</span>
                      <span>синхронный</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Блок автоматики включения</dt>
                    <dd>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Цифровой дисплей</dt>
                    <dd>
                      <span>есть</span>
                      <span>есть</span>
                      <span>есть</span>
                      <span>есть</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Счетчик моточасов</dt>
                    <dd>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Дистанционное управление</dt>
                    <dd>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                      <span>нет</span>
                    </dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Характеристики двигателя</p>
                  <dl>
                    <dt>Тип двигателя</dt>
                    <dd>
                      <span>дизельный,4-тактный</span>
                      <span>дизельный,4-тактный</span>
                      <span>дизельный,4-тактный</span>
                      <span>дизельный,4-тактный</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Модель двигателя</dt>
                    <dd>
                      <span>186FA</span>
                      <span>186FA</span>
                      <span>186FA</span>
                      <span>186FA</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Мощность двигателя</dt>
                    <dd>
                      <span>8,57 л.с</span>
                      <span>8,57 л.с</span>
                      <span>8,57 л.с</span>
                      <span>8,57 л.с</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Объем двигателя</dt>
                    <dd>
                      <span>418 куб. см</span>
                      <span>418 куб. см</span>
                      <span>418 куб. см</span>
                      <span>418 куб. см</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Количество оборотов</dt>
                    <dd>
                      <span>3000 об/мин.</span>
                      <span>3000 об/мин.</span>
                      <span>3000 об/мин.</span>
                      <span>3000 об/мин.</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Цилиндры</dt>
                    <dd>
                      <span>1 цилиндр, вертикальный</span>
                      <span>1 цилиндр, вертикальный</span>
                      <span>1 цилиндр, вертикальный</span>
                      <span>1 цилиндр, вертикальный</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Система охлаждения</dt>
                    <dd>
                      <span>воздушная</span>
                      <span>воздушная</span>
                      <span>воздушная</span>
                      <span>воздушная</span>
                    </dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Топливная система</p>
                  <dl>
                    <dt>Тип топлива</dt>
                    <dd>
                      <span>дизельное топливо</span>
                      <span>дизельное топливо</span>
                      <span>дизельное топливо</span>
                      <span>дизельное топливо</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Объем топливного бака</dt>
                    <dd>
                      <span>12,5 л</span>
                      <span>12,5 л</span>
                      <span>12,5 л</span>
                      <span>12,5 л</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Расход топлива</dt>
                    <dd>
                      <span>1,1 л/ч</span>
                      <span>1,1 л/ч</span>
                      <span>1,1 л/ч</span>
                      <span>1,1 л/ч</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Время работы без дозаправки</dt>
                    <dd>
                      <span>до 11 часов</span>
                      <span>до 11 часов</span>
                      <span>до 11 часов</span>
                      <span>до 11 часов</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Емкость картера</dt>
                    <dd>
                      <span>1,65 л</span>
                      <span>1,65 л</span>
                      <span>1,65 л</span>
                      <span>1,65 л</span>
                    </dd>
                  </dl>
                </li>
              </ul>
            </li>
            <li class="compare__char-slide">
              <ul class="compare__char-list">
                <li class="compare__char-group swiper-no-swiping">
                  <p>Общие характеристики</p>
                  <dl>
                    <dt>Тип оборудования</dt>
                    <dd>дизельная электростанция</dd>
                  </dl>
                  <dl>
                    <dt>Тип исполнения</dt>
                    <dd>открытая</dd>
                  </dl>
                  <dl>
                    <dt>Номинальное напряжение</dt>
                    <dd class="compare__diff-item compare__diff-item--max">220 В</dd>
                  </dl>
                  <dl>
                    <dt>Максимальная мощность</dt>
                    <dd>5,5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальная мощность</dt>
                    <dd>5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальный ток</dt>
                    <dd>20,5 А</dd>
                  </dl>
                  <dl>
                    <dt>Габариты</dt>
                    <dd>710 × 495 × 665 мм.</dd>
                  </dl>
                  <dl>
                    <dt>Вес</dt>
                    <dd>113 кг</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Системы управления и электрики</p>
                  <dl>
                    <dt>Контроль напряжения</dt>
                    <dd>AVR</dd>
                  </dl>
                  <dl>
                    <dt>Тип альтернатора</dt>
                    <dd>синхронный</dd>
                  </dl>
                  <dl>
                    <dt>Блок автоматики включения</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Цифровой дисплей</dt>
                    <dd>есть</dd>
                  </dl>
                  <dl>
                    <dt>Счетчик моточасов</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Дистанционное управление</dt>
                    <dd>нет</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Характеристики двигателя</p>
                  <dl>
                    <dt>Тип двигателя</dt>
                    <dd>дизельный,4-тактный</dd>
                  </dl>
                  <dl>
                    <dt>Модель двигателя</dt>
                    <dd>186FA</dd>
                  </dl>
                  <dl>
                    <dt>Мощность двигателя</dt>
                    <dd>8,57 л.с</dd>
                  </dl>
                  <dl>
                    <dt>Объем двигателя</dt>
                    <dd>418 куб. см</dd>
                  </dl>
                  <dl>
                    <dt>Количество оборотов</dt>
                    <dd>3000 об/мин.</dd>
                  </dl>
                  <dl>
                    <dt>Цилиндры</dt>
                    <dd>1 цилиндр, вертикальный</dd>
                  </dl>
                  <dl>
                    <dt>Система охлаждения</dt>
                    <dd>воздушная</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Топливная система</p>
                  <dl>
                    <dt>Тип топлива</dt>
                    <dd>дизельное топливо</dd>
                  </dl>
                  <dl>
                    <dt>Объем топливного бака</dt>
                    <dd>12,5 л</dd>
                  </dl>
                  <dl>
                    <dt>Расход топлива</dt>
                    <dd>1,1 л/ч</dd>
                  </dl>
                  <dl>
                    <dt>Время работы без дозаправки</dt>
                    <dd>до 11 часов</dd>
                  </dl>
                  <dl>
                    <dt>Емкость картера</dt>
                    <dd>1,65 л</dd>
                  </dl>
                </li>
              </ul>
            </li>
            <li class="compare__char-slide">
              <ul class="compare__char-list">
                <li class="compare__char-group swiper-no-swiping">
                  <p>Общие характеристики</p>
                  <dl>
                    <dt>Тип оборудования</dt>
                    <dd>дизельная электростанция</dd>
                  </dl>
                  <dl>
                    <dt>Тип исполнения</dt>
                    <dd>открытая</dd>
                  </dl>
                  <dl>
                    <dt>Номинальное напряжение</dt>
                    <dd>220 В</dd>
                  </dl>
                  <dl>
                    <dt>Максимальная мощность</dt>
                    <dd>5,5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальная мощность</dt>
                    <dd>5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальный ток</dt>
                    <dd>20,5 А</dd>
                  </dl>
                  <dl>
                    <dt>Габариты</dt>
                    <dd>710 × 495 × 665 мм.</dd>
                  </dl>
                  <dl>
                    <dt>Вес</dt>
                    <dd>113 кг</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Системы управления и электрики</p>
                  <dl>
                    <dt>Контроль напряжения</dt>
                    <dd>AVR</dd>
                  </dl>
                  <dl>
                    <dt>Тип альтернатора</dt>
                    <dd>синхронный</dd>
                  </dl>
                  <dl>
                    <dt>Блок автоматики включения</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Цифровой дисплей</dt>
                    <dd>есть</dd>
                  </dl>
                  <dl>
                    <dt>Счетчик моточасов</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Дистанционное управление</dt>
                    <dd>нет</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Характеристики двигателя</p>
                  <dl>
                    <dt>Тип двигателя</dt>
                    <dd>дизельный,4-тактный</dd>
                  </dl>
                  <dl>
                    <dt>Модель двигателя</dt>
                    <dd>186FA</dd>
                  </dl>
                  <dl>
                    <dt>Мощность двигателя</dt>
                    <dd>8,57 л.с</dd>
                  </dl>
                  <dl>
                    <dt>Объем двигателя</dt>
                    <dd>418 куб. см</dd>
                  </dl>
                  <dl>
                    <dt>Количество оборотов</dt>
                    <dd>3000 об/мин.</dd>
                  </dl>
                  <dl>
                    <dt>Цилиндры</dt>
                    <dd>1 цилиндр, вертикальный</dd>
                  </dl>
                  <dl>
                    <dt>Система охлаждения</dt>
                    <dd>воздушная</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Топливная система</p>
                  <dl>
                    <dt>Тип топлива</dt>
                    <dd>дизельное топливо</dd>
                  </dl>
                  <dl>
                    <dt>Объем топливного бака</dt>
                    <dd>12,5 л</dd>
                  </dl>
                  <dl>
                    <dt>Расход топлива</dt>
                    <dd>1,1 л/ч</dd>
                  </dl>
                  <dl>
                    <dt>Время работы без дозаправки</dt>
                    <dd>до 11 часов</dd>
                  </dl>
                  <dl>
                    <dt>Емкость картера</dt>
                    <dd>1,65 л</dd>
                  </dl>
                </li>
              </ul>
            </li>
            <li class="compare__char-slide">
              <ul class="compare__char-list">
                <li class="compare__char-group swiper-no-swiping">
                  <p>Общие характеристики</p>
                  <dl>
                    <dt>Тип оборудования</dt>
                    <dd>дизельная электростанция</dd>
                  </dl>
                  <dl>
                    <dt>Тип исполнения</dt>
                    <dd>открытая</dd>
                  </dl>
                  <dl>
                    <dt>Номинальное напряжение</dt>
                    <dd>220 В</dd>
                  </dl>
                  <dl>
                    <dt>Максимальная мощность</dt>
                    <dd>5,5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальная мощность</dt>
                    <dd>5 кВт</dd>
                  </dl>
                  <dl>
                    <dt>Номинальный ток</dt>
                    <dd>20,5 А</dd>
                  </dl>
                  <dl>
                    <dt>Габариты</dt>
                    <dd>710 × 495 × 665 мм.</dd>
                  </dl>
                  <dl>
                    <dt>Вес</dt>
                    <dd>113 кг</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Системы управления и электрики</p>
                  <dl>
                    <dt>Контроль напряжения</dt>
                    <dd>AVR</dd>
                  </dl>
                  <dl>
                    <dt>Тип альтернатора</dt>
                    <dd>синхронный</dd>
                  </dl>
                  <dl>
                    <dt>Блок автоматики включения</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Цифровой дисплей</dt>
                    <dd>есть</dd>
                  </dl>
                  <dl>
                    <dt>Счетчик моточасов</dt>
                    <dd>нет</dd>
                  </dl>
                  <dl>
                    <dt>Дистанционное управление</dt>
                    <dd>нет</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Характеристики двигателя</p>
                  <dl>
                    <dt>Тип двигателя</dt>
                    <dd>дизельный,4-тактный</dd>
                  </dl>
                  <dl>
                    <dt>Модель двигателя</dt>
                    <dd>186FA</dd>
                  </dl>
                  <dl>
                    <dt>Мощность двигателя</dt>
                    <dd>8,57 л.с</dd>
                  </dl>
                  <dl>
                    <dt>Объем двигателя</dt>
                    <dd>418 куб. см</dd>
                  </dl>
                  <dl>
                    <dt>Количество оборотов</dt>
                    <dd>3000 об/мин.</dd>
                  </dl>
                  <dl>
                    <dt>Цилиндры</dt>
                    <dd>1 цилиндр, вертикальный</dd>
                  </dl>
                  <dl>
                    <dt>Система охлаждения</dt>
                    <dd>воздушная</dd>
                  </dl>
                </li>
                <li class="compare__char-group swiper-no-swiping">
                  <p>Топливная система</p>
                  <dl>
                    <dt>Тип топлива</dt>
                    <dd>дизельное топливо</dd>
                  </dl>
                  <dl>
                    <dt>Объем топливного бака</dt>
                    <dd>12,5 л</dd>
                  </dl>
                  <dl>
                    <dt>Расход топлива</dt>
                    <dd>1,1 л/ч</dd>
                  </dl>
                  <dl>
                    <dt>Время работы без дозаправки</dt>
                    <dd>до 11 часов</dd>
                  </dl>
                  <dl>
                    <dt>Емкость картера</dt>
                    <dd>1,65 л</dd>
                  </dl>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
