<section class="delivery">
  <div class="container">
    <h2 class="title">Доставка по&nbsp;России</h2>
    <div class="delivery__desc">
      <p>Организуем доставку оборудования по&nbsp;всей России с&nbsp;учетом типа техники, объема заказа и&nbsp;особенностей объекта. Подбираем удобный формат поставки и&nbsp;курьерскую службу в&nbsp;зависимости от&nbsp;расстояния, согласовываем сроки и&nbsp;заранее уточняем все детали, чтобы клиент понимал, как будет проходить отгрузка и&nbsp;получение оборудования. Осуществляем доставку следующими транспортными компаниями:</p>
    </div>
    <ul class="delivery__list">
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/cdek@1x.webp 1x, img/delivery/cdek@2x.webp 2x">
              <img src="img/delivery/cdek@1x.png" srcset="img/delivery/cdek@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/dhl@1x.webp 1x, img/delivery/dhl@2x.webp 2x">
              <img src="img/delivery/dhl@1x.png" srcset="img/delivery/dhl@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/pek@1x.webp 1x, img/delivery/pek@2x.webp 2x">
              <img src="img/delivery/pek@1x.png" srcset="img/delivery/pek@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/energia@1x.webp 1x, img/delivery/energia@2x.webp 2x">
              <img src="img/delivery/energia@1x.png" srcset="img/delivery/energia@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/cdek@1x.webp 1x, img/delivery/cdek@2x.webp 2x">
              <img src="img/delivery/cdek@1x.png" srcset="img/delivery/cdek@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/dhl@1x.webp 1x, img/delivery/dhl@2x.webp 2x">
              <img src="img/delivery/dhl@1x.png" srcset="img/delivery/dhl@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/pek@1x.webp 1x, img/delivery/pek@2x.webp 2x">
              <img src="img/delivery/pek@1x.png" srcset="img/delivery/pek@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
      <li class="delivery__item">
        <div class="delivery__item-wrapper">
          <div class="delivery__img">
            <picture>
              <source width="113" height="32" type="image/webp" srcset="img/delivery/energia@1x.webp 1x, img/delivery/energia@2x.webp 2x">
              <img src="img/delivery/energia@1x.png" srcset="img/delivery/energia@2x.png 2x" width="113" height="32" alt="">
            </picture>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
