<section class="favorites block-color">
  <div class="container">
    <h2 class="visually-hidden">Список избранных товаров</h2>
    <ul class="favorites__products" data-swiper="cards">
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
            <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
      <li class="favorites__card product-card card-favorite">
        <div class="product-card__header">
          <div class="product-card__tags">
            <p class="product-card__tag product-card__tag--sale">-10&nbsp;%</p>
            <p class="product-card__tag product-card__tag--hit">Хит</p>
          </div>
          <div class="product-card__user">
            <button class="product-card__user-button product-card__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
            <button class="product-card__user-button product-card__user-button--delete">
              <span class="visually-hidden">Удалить из сравнения.</span>
            </button>
          </div>
        </div>
        <div class="product-card__content">
          <a class="product-card__title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
          <div class="product-card__swiper-container">
            <div class="product-card__swiper swiper">
              <ul class="product-card__swiper-wrapper swiper-wrapper">
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="product-card__slide swiper-slide">
                  <div class="product-card__img">
                    <picture>
                      <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                      <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="product-card__swiper-scrollbar"></div>
            </div>
          </div>
          <dl class="product-card__details">
            <div>
              <dt>Напряжение:</dt>
              <dd>220&nbsp;В</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>ручной стартер/электростартер</dd>
            </div>
            <div>
              <dt>Альтернатор:</dt>
              <dd>синхронный</dd>
            </div>
            <div>
              <dt>Автозапуск:</dt>
              <dd>нет</dd>
            </div>
          </dl>
          <div class="product-card__button-container">
            <p class="product-card__prices">
              <span class="product-card__price product-card__price--new">23&nbsp;134&nbsp;₽</span>
              <span class="product-card__price product-card__price--old">28&nbsp;827&nbsp;₽</span>
            </p>
            <button class="product-card__button button button--main" type="button">В корзину</button>
          </div>
          <button class="product-card__button button button--main button--light" type="button" data-modal-button="oneclick" data-modal-dynamic>Купить в 1 клик</button>
        </div>
      </li>
    </ul>
  </div>
  </div>
</section>
