<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Условия возврата и обмена</h2>
      <div class="page-hero__img">
        <picture>
          <source width="645" height="509" type="image/webp" srcset="img/delivery/details@1x.webp 1x, img/delivery/details@2x.webp 2x">
          <img src="img/delivery/details@1x.jpg" srcset="img/delivery/details@2x.jpg 2x" width="645" height="509" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>Вопрос возврата и&nbsp;обмена зависит от&nbsp;типа оборудования, состояния товара, категории клиента и&nbsp;оснований для обращения. Для технически сложных товаров особенно важно учитывать правила эксплуатации, факт использования, комплектность и&nbsp;внешний вид оборудования на&nbsp;момент обращения.</p>
        <p>Если возникает вопрос по&nbsp;возврату или обмену, мы&nbsp;рекомендуем не&nbsp;откладывать обращение и&nbsp;заранее уточнить все детали, чтобы можно было быстро понять возможный порядок действий.</p>
      </div>
      <button class="page-hero__button button button--main" type="button" aria-label="Открыть форму и оставить заявку" data-modal-button="request">Оставить заявку</button>
    </div>
  </div>
</section>
