<section class="steps block">
  <div class="container">
    <h2 class="steps__title title">Что нужно учитывать при эксплуатации</h2>
    <p class="steps__desc">Чтобы гарантийные обязательства сохранялись, важно соблюдать базовые условия эксплуатации оборудования, рекомендации производителя и&nbsp;правила использования техники по&nbsp;назначению.</p>
    <div class="steps__swiper-container">
      <div class="steps__swiper" data-swiper="navigation">
        <ul class="steps__swiper-wrapper steps__swiper-wrapper--counter">
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Соблюдать инструкции по&nbsp;эксплуатации, правила подключения и&nbsp;запуска</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Использовать оборудование в&nbsp;допустимых условиях</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Не&nbsp;вносить несогласованные изменения в&nbsp;конструкцию</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Учитывать требования по&nbsp;обслуживанию для техники в&nbsp;срок.</p>
            </div>
          </li>
        </ul>
        <div class="steps__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
