<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Гарантийные обязательства</h2>
      <div class="page-hero__img">
        <picture>
          <source width="645" height="509" type="image/webp" srcset="img/delivery/details@1x.webp 1x, img/delivery/details@2x.webp 2x">
          <img src="img/delivery/details@1x.jpg" srcset="img/delivery/details@2x.jpg 2x" width="645" height="509" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>На&nbsp;оборудование распространяется гарантия от&nbsp;12&nbsp;до&nbsp;36&nbsp;месяцев в&nbsp;соответствии с&nbsp;характеристиками товара, условиями производителя и&nbsp;правилами эксплуатации. Гарантия подтверждает, что оборудование передается клиенту в&nbsp;исправном состоянии и&nbsp;при соблюдении правил эксплуатации может быть обслужено в&nbsp;рамках гарантийных обязательств.</p>
        <p>Для нас важно, чтобы клиент чувствовал себя увереннее после покупки, поэтому мы&nbsp;стараемся заранее объяснять, как работает гарантия, в&nbsp;каких случаях она сохраняется и&nbsp;что нужно учитывать при использовании техники.</p>
      </div>
    </div>
  </div>
</section>
