<section class="steps block">
  <div class="container">
    <h2 class="title">Что дает гарантия</h2>
    <p class="steps__desc">Гарантия помогает клиенту понимать, что в&nbsp;случае корректно подтвержденного гарантийного случая вопрос не&nbsp;останется без внимания. Это особенно важно для оборудования, которое используется в&nbsp;быту, на&nbsp;коммерческих объектах, стройке или в&nbsp;технических условиях, где надежность имеет большое значение.</p>
    <div class="steps__swiper-container">
      <div class="steps__swiper" data-swiper="navigation">
        <ul class="steps__swiper-wrapper steps__swiper-wrapper--counter">
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Подтверждение исправности оборудования на&nbsp;момент передачи</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Возможность обращения при выявлении гарантийного случая</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Понятный порядок взаимодействия по&nbsp;гарантийному обращению</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Поддержка по&nbsp;вопросам, связанным с&nbsp;работой оборудования</p>
            </div>
          </li>
        </ul>
        <div class="steps__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
