<section class="article block">
  <div class="container">
    <h2 class="visually-hidden">Текст новости</h2>
    <div class="article__img">
      <picture>
        <source width="759" height="607" type="image/webp" srcset="img/articles/article-2@1x.webp 1x, img/articles/article-2@2x.webp 2x">
        <img src="img/articles/article-2@1x.jpg" srcset="img/articles/article-2@2x.jpg 2x" width="759" height="607" alt="">
      </picture>
    </div>
    <div class="article__content">
      <p class="article__subtitle">Дата публикации</p>
      <p>12.06.2025</p>
      <p class="article__subtitle">Описание новости</p>
      <p><b>Перед каждым запуском генератора:</b></p>
      <ul>
        <li>Проверка уровня масла в&nbsp;картере двигателя.</li>
        <li>Убедиться, что уровень масла находится между метками &laquo;MIN&raquo; и&nbsp;&laquo;MAX&raquo; на&nbsp;щупе.</li>
        <li>При необходимости долить масло рекомендованной марки.</li>
        <li>Проверка уровня охлаждающей жидкости.</li>
        <li>Открыть крышку радиатора (только на&nbsp;охлаждённом двигателе) и&nbsp;убедиться в&nbsp;достаточном уровне.</li>
        <li>Проверить уровень в&nbsp;расширительном бачке.</li>
        <li>При необходимости долить охлаждающую жидкость (антифриз) рекомендованного типа.</li>
        <li>Внешний осмотр генератора и&nbsp;двигателя.</li>
        <li>Проверить отсутствие утечек масла, топлива и&nbsp;охлаждающей жидкости.</li>
        <li>Убедиться в&nbsp;отсутствии посторонних предметов в&nbsp;зоне вращения ротора и&nbsp;ремней.</li>
        <li>Проверка топливной системы.</li>
        <li>Убедиться в&nbsp;отсутствии утечек топлива из&nbsp;магистралей и&nbsp;соединений.</li>
        <li>Проверить уровень топлива в&nbsp;баке.</li>
        <li>Проверка аккумуляторной батареи.</li>
        <li>Убедиться в&nbsp;надёжности крепления и&nbsp;чистоте клемм.</li>
        <li>Проверить крепление проводов и&nbsp;состояние изоляции.</li>
      </ul>
      <p><b>После остановки генератора:</b></p>
      <ul>
        <li>Очистка оборудования.</li>
        <li>Удалить пыль и&nbsp;грязь с&nbsp;поверхности генератора и&nbsp;двигателя.</li>
        <li>Осмотреть воздухозаборники и&nbsp;при необходимости очистить их&nbsp;от&nbsp;загрязнений.</li>
      </ul>
      <p class="article__subtitle">Заключение</p>
      <p>Соблюдение данного регламента технического обслуживания обеспечит длительную и&nbsp;эффективную работу дизельных генераторов на&nbsp;базе двигателя Ricardo 1500&nbsp;об/мин. Регулярное обслуживание и&nbsp;своевременная замена расходных материалов предотвратят неожиданные простои и&nbsp;сэкономят средства на&nbsp;ремонте и&nbsp;замене оборудования.</p>
    </div>
    <button class="article__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
