<section class="product">
  <div class="container">
    <h2 class="visually-hidden">Карточка товара</h2>
    <div class="product__wrapper">
      <div class="product__swiper-container" data-swiper="thumb">
        <div class="product__swiper swiper main-swiper">
          <div class="product__tags">
            <p class="product__tag product__tag--sale">-10&nbsp;%</p>
            <p class="product__tag product__tag--hit">Хит</p>
            <p class="product__tag product__tag--new">Новинка</p>
          </div>
          <ul class="product__swiper-wrapper swiper-wrapper">
            <li class="product__slide swiper-slide">
              <div class="product__slide-container">
                <picture>
                  <source width="410" height="380" type="image/webp" srcset="img/amo-adg-550/image-1@1x.webp 1x, img/amo-adg-550/image-1@2x.webp 2x">
                  <img src="img/amo-adg-550/image-1@1x.jpg" srcset="img/amo-adg-550/image-1@2x.jpg 2x" width="410" height="380" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__slide swiper-slide">
              <div class="product__slide-container">
                <picture>
                  <source width="410" height="380" type="image/webp" srcset="img/amo-adg-550/image-2@1x.webp 1x, img/amo-adg-550/image-2@2x.webp 2x">
                  <img src="img/amo-adg-550/image-2@1x.jpg" srcset="img/amo-adg-550/image-2@2x.jpg 2x" width="410" height="380" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__slide swiper-slide">
              <div class="product__slide-container">
                <picture>
                  <source width="410" height="380" type="image/webp" srcset="img/amo-adg-550/image-3@1x.webp 1x, img/amo-adg-550/image-3@2x.webp 2x">
                  <img src="img/amo-adg-550/image-3@1x.jpg" srcset="img/amo-adg-550/image-3@2x.jpg 2x" width="410" height="380" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__slide swiper-slide">
              <div class="product__slide-container">
                <picture>
                  <source width="410" height="380" type="image/webp" srcset="img/amo-adg-550/image-4@1x.webp 1x, img/amo-adg-550/image-4@2x.webp 2x">
                  <img src="img/amo-adg-550/image-4@1x.jpg" srcset="img/amo-adg-550/image-4@2x.jpg 2x" width="410" height="380" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__slide swiper-slide">
              <div class="product__slide-container">
                <picture>
                  <source width="410" height="380" type="image/webp" srcset="img/amo-adg-550/image-2@1x.webp 1x, img/amo-adg-550/image-2@2x.webp 2x">
                  <img src="img/amo-adg-550/image-2@1x.jpg" srcset="img/amo-adg-550/image-2@2x.jpg 2x" width="410" height="380" alt="Товар 1.">
                </picture>
              </div>
            </li>
          </ul>
          <div class="product__swiper-button-container">
            <button class="button-swiper button-swiper--prev" type="button">
              <span class="visually-hidden">Назад.</span>
            </button>
            <button class="button-swiper button-swiper--next" type="button">
              <span class="visually-hidden">Вперёд.</span>
            </button>
          </div>
        </div>
        <div class="product__thumb-swiper thumb-swiper swiper">
          <ul class="product__thumb-swiper-wrapper swiper-wrapper">
            <li class="product__thumb-slide swiper-slide">
              <div class="product__thumb-slide-container">
                <picture>
                  <source width="159" height="120" type="image/webp" srcset="img/amo-adg-550/thumb-1@1x.webp 1x, img/amo-adg-550/thumb-1@2x.webp 2x">
                  <img src="img/amo-adg-550/thumb-1@1x.jpg" srcset="img/amo-adg-550/thumb-1@2x.jpg 2x" width="159" height="120" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__thumb-slide swiper-slide">
              <div class="product__thumb-slide-container">
                <picture>
                  <source width="159" height="120" type="image/webp" srcset="img/amo-adg-550/thumb-2@1x.webp 1x, img/amo-adg-550/thumb-2@2x.webp 2x">
                  <img src="img/amo-adg-550/thumb-2@1x.jpg" srcset="img/amo-adg-550/thumb-2@2x.jpg 2x" width="159" height="120" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__thumb-slide swiper-slide">
              <div class="product__thumb-slide-container">
                <picture>
                  <source width="159" height="120" type="image/webp" srcset="img/amo-adg-550/thumb-3@1x.webp 1x, img/amo-adg-550/thumb-3@2x.webp 2x">
                  <img src="img/amo-adg-550/thumb-3@1x.jpg" srcset="img/amo-adg-550/thumb-3@2x.jpg 2x" width="159" height="120" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__thumb-slide swiper-slide">
              <div class="product__thumb-slide-container">
                <picture>
                  <source width="159" height="120" type="image/webp" srcset="img/amo-adg-550/thumb-4@1x.webp 1x, img/amo-adg-550/thumb-4@2x.webp 2x">
                  <img src="img/amo-adg-550/thumb-4@1x.jpg" srcset="img/amo-adg-550/thumb-4@2x.jpg 2x" width="159" height="120" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="product__thumb-slide swiper-slide">
              <div class="product__thumb-slide-container">
                <picture>
                  <source width="159" height="120" type="image/webp" srcset="img/amo-adg-550/thumb-2@1x.webp 1x, img/amo-adg-550/thumb-2@2x.webp 2x">
                  <img src="img/amo-adg-550/thumb-2@1x.jpg" srcset="img/amo-adg-550/thumb-2@2x.jpg 2x" width="159" height="120" alt="Товар 1.">
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="product__content">
        <div class="product__status">
          <p class="product__article">Артикул 856273</p>
          <p class="product__stock product__stock--out">Нет&nbsp;в&nbsp;наличии</p>
        </div>
        <div class="product__users">
          <a class="product__brand" href="#">
            <p class="product__brand-text">AMO</p>
            <div class="product__brand-img">
              <picture>
                <source width="48" height="48" type="image/webp" srcset="img/producers/amo@1x.webp 1x, img/producers/amo@2x.webp 2x">
                <img src="img/producers/amo@1x.jpg" srcset="img/producers/amo@2x.jpg 2x" width="48" height="48" alt="">
              </picture>
            </div>
          </a>
          <div class="product__rating">
            <div class="product__rating-stars stars stars--four" role="img" aria-label="Оценка товара четыре из пяти">
              <span class="stars__icon" aria-hidden="true"></span>
              <span class="stars__icon" aria-hidden="true"></span>
              <span class="stars__icon" aria-hidden="true"></span>
              <span class="stars__icon" aria-hidden="true"></span>
              <span class="stars__icon" aria-hidden="true"></span>
            </div>
            <p class="product__rating-content">
              <span class="product__rating-count">4</span>
            </p>
          </div>
          <div class="product__user">
            <button class="product__user-button product__user-button--favorite">
              <span class="visually-hidden">Добавить в избранное.</span>
            </button>
            <button class="product__user-button product__user-button--compare">
              <span class="visually-hidden">Добавить к сравнению.</span>
            </button>
          </div>
        </div>
        <div class="product__price">
          <a class="product__analog" href="#">Посмотреть аналоги</a>
        </div>
        <div class="product__model">
          <fieldset class="product__model-group">
            <legend class="product__model-text">Варианты исполнения</legend>
            <label class="product__model-radio">
              <span>в кожухе</span>
              <input type="radio" name="canopy" value="canopy_with" checked>
            </label>
            <label class="product__model-radio">
              <span>без кожуха</span>
              <input type="radio" name="canopy" value="canopy_non">
            </label>
          </fieldset>
          <dl class="product__details">
            <div>
              <dt>Категория:</dt>
              <dd>1</dd>
            </div>
            <div>
              <dt>Мощность:</dt>
              <dd>120 кВт</dd>
            </div>
            <div>
              <dt>Напряжение:</dt>
              <dd>120 кВт</dd>
            </div>
            <div>
              <dt>Тип кожуха:</dt>
              <dd>Класс</dd>
            </div>
            <div>
              <dt>Стартер:</dt>
              <dd>Автомат</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
