<section class="projects block">
  <div class="container">
    <h2 class="title">Примеры монтажа дизельного генератора AMO&nbsp;ADG&nbsp;5500 на&nbsp;объектах</h2>
    <ul class="projects__list" data-align="grid">
      <li class="projects__item">
        <a class="projects__card" href="#">
          <div class="projects__card-content">
            <p class="projects__card-name" data-align="title">Монтаж генератора в&nbsp;частном&nbsp;доме</p>
            <div class="projects__card-img">
              <picture>
                <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
              </picture>
            </div>
            <p class="projects__card-text">Установили генератор для резервного питания дома, чтобы при отключении сети продолжали работать освещение, котел, насосы и&nbsp;базовая техника.</p>
          </div>
          <p class="projects__card-link button button--main button--light">Смотреть проект</p>
        </a>
      </li>
      <li class="projects__item">
        <a class="projects__card" href="#">
          <div class="projects__card-content">
            <p class="projects__card-name" data-align="title">Установка генератора для коммерческого объекта</p>
            <div class="projects__card-img">
              <picture>
                <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
              </picture>
            </div>
            <p class="projects__card-text">Смонтировали решение для резервного электроснабжения офиса&nbsp;/ магазина, чтобы сохранить работу оборудования, освещения и&nbsp;ключевых процессов при перебоях в&nbsp;сети.</p>
          </div>
          <p class="projects__card-link button button--main button--light">Смотреть проект</p>
        </a>
      </li>
      <li class="projects__item">
        <a class="projects__card" href="#">
          <div class="projects__card-content">
            <p class="projects__card-name" data-align="title">Монтаж генератора на&nbsp;строительной площадке</p>
            <div class="projects__card-img">
              <picture>
                <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
              </picture>
            </div>
            <p class="projects__card-text">Подобрали и&nbsp;установили генератор для временного электроснабжения стройки, чтобы обеспечить питание инструмента, освещения и&nbsp;оборудования на&nbsp;объекте.</p>
          </div>
          <p class="projects__card-link button button--main button--light">Смотреть проект</p>
        </a>
      </li>
      <li class="projects__item">
        <a class="projects__card" href="#">
          <div class="projects__card-content">
            <p class="projects__card-name" data-align="title">Установка генератора для производственного объекта</p>
            <div class="projects__card-img">
              <picture>
                <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
              </picture>
            </div>
            <p class="projects__card-text">Реализовали решение для объекта с&nbsp;повышенной нагрузкой, где важно сохранить стабильную работу оборудования и&nbsp;снизить риск остановки процессов.</p>
          </div>
          <p class="projects__card-link button button--main button--light">Смотреть проект</p>
        </a>
      </li>
    </ul>
    <a class="projects__link button button--main" href="#">Смотреть все проекты</a>
  </div>
</section>
