<section class="features">
  <h2 class="visually-hidden">Преимущества</h2>
  <div class="container">
    <div class="features__swiper-container">
      <div class="features__swiper" data-swiper="navigation">
        <ul class="features__swiper-wrapper features__list">
          <li class="features__slide">
            <div class="features__item features__item--indicator">
              <p class="features__title">Рабочая мощность для прикладных задач</p>
              <p class="features__text">Номинальные 5&nbsp;кВт и&nbsp;максимум 5,5 кВт позволяют использовать генератор для однофазного инструмента, мастерской, гаража и&nbsp;небольших коммерческих точек.</p>
            </div>
          </li>
          <li class="features__slide">
            <div class="features__item features__item--atom">
              <p class="features__title">Экономичность и хорошая автономность</p>
              <p class="features__text">По&nbsp;опубликованным карточкам у&nbsp;генератора расход около 1,1&nbsp;л/ч при&nbsp;75% нагрузки и&nbsp;автономность до&nbsp;11&nbsp;часов при той&nbsp;же нагрузке, что удобно для длительной работы без частых дозаправок.</p>
            </div>
          </li>
          <li class="features__slide">
            <div class="features__item features__item--lighting">
              <p class="features__title">Более стабильная электроэнергия</p>
              <p class="features__text">Модель оснащается синхронным альтернатором с&nbsp;медной обмоткой и&nbsp;AVR, что помогает держать напряжение ровнее и&nbsp;делает генератор более уверенным вариантом для техники и&nbsp;оборудования.</p>
            </div>
          </li>
          <li class="features__slide">
            <div class="features__item features__item--simple">
              <p class="features__title">Простая и понятная конструкция для объекта</p>
              <p class="features__text">Открытая рама, ручной запуск, воздушное охлаждение и&nbsp;мобильный формат делают модель удобной для стройки, выездных работ, мастерской и&nbsp;других прикладных задач, где важна надежная &laquo;рабочая лошадка&raquo; без лишней сложности.</p>
            </div>
          </li>
        </ul>
        <div class="features__swiper-scrollbar hidden"></div>
      </div>
    </div>
  </div>
</section>
