<section class="steps block">
  <div class="container">
    <h2 class="title">Что сделали в рамках проекта</h2>
    <div class="steps__swiper-container">
      <div class="steps__swiper" data-swiper="navigation">
        <ul class="steps__swiper-wrapper steps__swiper-wrapper--counter">
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Уточнили задачу клиента и состав потребителей</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Помогли определить оптимальную мощность оборудования</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Подобрали генератор под условия объекта</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Предусмотрели решение с автоматическим запуском</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Организовали поставку оборудования</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Выполнили подключение и настройку системы</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Провели запуск и проверку работы</p>
            </div>
          </li>

        </ul>
        <div class="steps__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
