<div class="hero-img block">
  <div class="container">
    <div class="hero-img__img">
      <picture>
          <source width="1400" height="640" type="image/webp" media="(min-width: 768px)" srcset="img/projects/project-1-desktop@1x.webp 1x, img/projects/project-1-desktop@2x.webp 2x">
          <source width="690" height="402" type="image/webp" srcset="img/projects/project-1-tablet@1x.webp 1x, img/projects/project-1-tablet@2x.webp 2x">
          <source width="1400" height="640" type="image/jpg" media="(min-width: 768px)" srcset="img/projects/project-1-desktop@1x.jpg 1x, img/projects/project-1-desktop@2x.jpg 2x">
          <img src="img/projects/project-1-tablet@1x.jpg" srcset="img/projects/project-1-tablet@2x.jpg 2x" width="690" height="402" alt="">
        </picture>
    </div>
  </div>
</div>
