<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Решение по проекту</h2>
      <div class="page-hero__img">
        <picture>
          <source width="690" height="402" type="image/webp" srcset="img/projects/project-1-tablet@1x.webp 1x, img/projects/project-1-tablet@2x.webp 2x">
          <img src="img/projects/project-1-tablet@1x.jpg" srcset="img/projects/project-1-tablet@2x.jpg 2x" width="690" height="402" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>После уточнения параметров объекта и анализа нагрузки было предложено решение на&nbsp;базе генератора, подходящего по&nbsp;мощности под ключевые системы дома, с&nbsp;подключением через АВР для автоматического ввода резерва.</p>
        <p>Такой формат позволил обеспечить надежную работу оборудования в&nbsp;момент отключения сети и упростить сам сценарий эксплуатации: при пропадании основного питания система автоматически переводит дом на&nbsp;резервный источник.</p>
      </div>
      <div class="page-hero__request">
        <p class="page-hero__request-title">У вас похожая задача ?</p>
        <p class="page-hero__request-text">Оставьте заявку и мы подберем оптимальное решение под ваш обьект.</p>
      <button class="page-hero__button button button--main" type="button" aria-label="Открыть форму и оставить заявку" data-modal-button="request">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
