<section class="projects block">
  <div class="container">
    <h2 class="title title--small">Показываем, как оборудование и&nbsp;решения работают в&nbsp;реальных условиях: на&nbsp;частных объектах, в&nbsp;бизнесе, на&nbsp;стройке и&nbsp;на&nbsp;технических площадках.Демонстрируем не&nbsp;только товар, но&nbsp;и&nbsp;результат его применения на&nbsp;практике.</h2>
    <div class="projects__tabs tabs">
      <ul class="projects__tablinks tabs__tablinks">
        <li class="projects__tablinks-item">
          <button class="projects__tablink button tabs__tablink tabs__tablink--active" data-tab="private" type="button">Частные объекты</button>
        </li>
        <li class="projects__tablinks-item">
          <button class="projects__tablink button tabs__tablink accordion-button" data-tab="business" type="button">Бизнесс и коммерция</button>
        </li>
        <li class="projects__tablinks-item">
          <button class="projects__tablink button tabs__tablink accordion-button" data-tab="construction" type="button">Строительные площадки</button>
        </li>
        <li class="projects__tablinks-item">
          <button class="projects__tablink button tabs__tablink accordion-button" data-tab="production" type="button"> Производственные и технические объекты</button>
        </li>
        <li class="projects__tablinks-item">
          <button class="projects__tablink button tabs__tablink accordion-button" data-tab="rent" type="button">Арендные решения</button>
        </li>
      </ul>
      <div class="projects__tabcontents tabs__tabcontents">
        <div class="projects__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="private">
          <ul class="projects__list" data-align="grid">
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="projects__tabcontent tabs__tabcontent" data-tab-content="business">
          <ul class="projects__list" data-align="grid">
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="projects__tabcontent tabs__tabcontent" data-tab-content="construction">
          <ul class="projects__list" data-align="grid">
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="projects__tabcontent tabs__tabcontent" data-tab-content="production">
          <ul class="projects__list" data-align="grid">
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="projects__tabcontent tabs__tabcontent" data-tab-content="rent">
          <ul class="projects__list" data-align="grid">
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
            <li class="projects__item">
              <a class="projects__card" href="#">
                <div class="projects__card-content">
                  <p class="projects__card-name" data-align="title">Резерв дома с&nbsp;АВР</p>
                  <div class="projects__card-img">
                    <picture>
                      <source width="305" height="305" type="image/webp" srcset="img/projects/project-1@1x.webp 1x, img/projects/project-1@2x.webp 2x">
                      <img src="img/projects/project-1@1x.jpg" srcset="img/projects/project-1@2x.jpg 2x" width="305" height="305" alt="">
                    </picture>
                  </div>
                  <p class="projects__card-text">генератор +&nbsp;щит&nbsp;АВР <br>+&nbsp;кабель/расходники</p>
                </div>
                <p class="projects__card-link button button--main button--light">Смотреть проект</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="projects__pagination">
        <a class="projects__pagination-button projects__pagination-button--first hidden" href="#">
          <span class="visually-hidden">Первая страница.</span>
        </a>
        <a class="projects__pagination-button projects__pagination-button--prev hidden" href="#">
          <span class="visually-hidden">Предыдущая страница.</span>
        </a>
        <ul class="projects__pagination-list">
          <li class="projects__pagination-item">
            <span class="projects__pagination-link projects__pagination-link--current">1</span>
          </li>
          <li class="projects__pagination-item">
            <a class="projects__pagination-link" href="#">2</a>
          </li>
        </ul>
        <a class="projects__pagination-button projects__pagination-button--next" href="#">
          <span class="visually-hidden">Следующая страница</span>
        </a>
        <a class="projects__pagination-button projects__pagination-button--last" href="#">
          <span class="visually-hidden">Последняя страница</span>
        </a>
      </div>
  </div>
</section>
