<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Задача клиента</h2>
      <div class="page-hero__img">
        <picture>
          <source width="690" height="402" type="image/webp" srcset="img/projects/project-1-tablet@1x.webp 1x, img/projects/project-1-tablet@2x.webp 2x">
          <img src="img/projects/project-1-tablet@1x.jpg" srcset="img/projects/project-1-tablet@2x.jpg 2x" width="690" height="402" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>Клиенту нужно было обеспечить дом надежным резервным источником питания на&nbsp;случай отключения электроэнергии. Основной запрос заключался в&nbsp;том, чтобы при перебоях в&nbsp;сети продолжали работать самые важные системы дома: освещение, отопление, насосное оборудование и&nbsp;часть бытовой техники.</p>
        <p>Также было важно, чтобы решение было понятным в&nbsp;эксплуатации, не&nbsp;требовало сложных действий со&nbsp;стороны владельца и&nbsp;было подобрано без переплаты за&nbsp;лишнюю мощность.</p>
      </div>
    </div>
  </div>
</section>
