<section class="items block">
  <div class="container">
    <h2 class="items__title title">Ключевые требования</h2>
    <ul class="items__list">
      <li class="items__item">
        <p class="items__subtitle">Надежность</p>
        <p class="items__text">Система должна была уверенно включаться в&nbsp;работу в&nbsp;момент отключения основной сети.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Автоматизация</p>
        <p class="items__text">Клиент хотел минимизировать участие человека и&nbsp;сделать переключение на&nbsp;резерв максимально удобным.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Подбор под реальные нагрузки</p>
        <p class="items__text">Важно было учесть не&nbsp;только общий список потребителей, но&nbsp;и&nbsp;их&nbsp;фактическую нагрузку и&nbsp;приоритетность.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Удобство дальнейшей эксплуатации</p>
        <p class="items__text">Решение должно было быть понятным, безопасным и&nbsp;комфортным в&nbsp;использовании.</p>
      </li>
    </ul>
  </div>
</section>
