<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Когда важен не&nbsp;просто товар, а&nbsp;правильное решение</h2>
      <div class="page-hero__content">
        <p>Подбор оборудования&nbsp;&mdash; это не&nbsp;выбор первой подходящей модели из&nbsp;каталога, а&nbsp;поиск решения, которое будет реально работать под вашу задачу. Для этого важно учитывать не&nbsp;только характеристики техники, но&nbsp;и&nbsp;сам объект, предполагаемую нагрузку, режим эксплуатации, требования к&nbsp;надежности, условия установки и&nbsp;бюджет.</p>
        <p>Мы&nbsp;помогаем подобрать оборудование так, чтобы клиент не&nbsp;переплачивал за&nbsp;лишние параметры и&nbsp;не&nbsp;сталкивался с&nbsp;ситуацией, когда техника оказывается слишком слабой, неудобной или неподходящей для реальных условий работы.</p>
      </div>
      <div class="page-hero__img">
        <picture>
          <source width="690" height="402" type="image/webp" media="(min-width: 768px)" srcset="img/services/bg-tablet@1x.webp 1x, img/services/bg-tablet@2x.webp 2x">
          <source width="400" height="235" type="image/webp" srcset="img/services/bg-mobile@1x.webp 1x, img/services/bg-mobile@2x.webp 2x">
          <source width="690" height="402" type="image/jpg" media="(min-width: 768px)" srcset="img/services/bg-tablet@1x.jpg 1x, img/services/bg-tablet@2x.jpg 2x">
          <img src="img/services/bg-mobile@1x.jpg" srcset="img/services/bg-mobile@2x.jpg 2x" width="400" height="235" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
