<section class="features block">
  <div class="container">
    <ul class="features__list">
      <li class="features__item features__item--indicator">
        <p class="features__title">Подбираем под задачу, а&nbsp;не&nbsp;по&nbsp;шаблону</p>
      </li>
      <li class="features__item features__item--gear">
        <p class="features__title">Говорим понятно, работаем профессионально</p>
      </li>
      <li class="features__item features__item--dialog">
        <p class="features__title">Готовим оборудование к&nbsp;работе заранее</p>
      </li>
      <li class="features__item features__item--lock">
        <p class="features__title">Остаемся рядом после покупки</p>
      </li>
    </ul>
    <button class="features__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
