<section class="features block">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="features__list">
      <li class="features__item features__item--indicator">
        <p class="features__title">Понятный выбор</p>
      </li>
      <li class="features__item features__item--gear">
        <p class="features__title">Меньше риска ошибиться</p>
      </li>
      <li class="features__item features__item--dialog">
        <p class="features__title">Экономия времени</p>
      </li>
      <li class="features__item features__item--lock">
        <p class="features__title">Больше уверенности</p>
      </li>
    </ul>
    <button class="features__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
