<section class="steps block">
  <div class="container">
    <h2 class="steps__title title">На&nbsp;что мы&nbsp;смотрим при подборе оборудования</h2>
    <div class="steps__swiper-container">
      <div class="steps__swiper" data-swiper="navigation">
        <ul class="steps__swiper-wrapper steps__swiper-wrapper--counter">
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Тип объекта</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Какая задача стоит</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Что именно должно работать</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Предполагаемая нагрузка</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Режим и длительность эксплуатации</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Условия размещения и использования</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Требования к надежности и автоматизации</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Бюджет клиента</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Сроки поставки</p>
            </div>
          </li>
          <li class="steps__slide">
            <div class="steps__card">
              <p class="steps__text">Необходимость дальнейшего сервиса и сопровождения</p>
            </div>
          </li>
        </ul>
        <div class="steps__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
