<section class="page-hero block">
  <div class="container">
    <div class="page-hero__wrapper">
      <h2 class="page-hero__title title">Услуги, которые делают покупку оборудования понятнее и надежнее</h2>
      <div class="page-hero__img">
        <picture>
          <source width="690" height="402" type="image/webp" media="(min-width: 768px)" srcset="img/services/bg-tablet@1x.webp 1x, img/services/bg-tablet@2x.webp 2x">
          <source width="400" height="235" type="image/webp" srcset="img/services/bg-mobile@1x.webp 1x, img/services/bg-mobile@2x.webp 2x">
          <source width="690" height="402" type="image/jpg" media="(min-width: 768px)" srcset="img/services/bg-tablet@1x.jpg 1x, img/services/bg-tablet@2x.jpg 2x">
          <img src="img/services/bg-mobile@1x.jpg" srcset="img/services/bg-mobile@2x.jpg 2x" width="400" height="235" alt="">
        </picture>
      </div>
      <div class="page-hero__content">
        <p>Для многих клиентов важно не&nbsp;просто купить оборудование, а&nbsp;быть уверенными, что оно действительно подойдет под объект, задачу и&nbsp;условия эксплуатации. Поэтому мы&nbsp;выстраиваем работу так, чтобы клиент получал не&nbsp;только технику, но&nbsp;и&nbsp;поддержку на&nbsp;ключевых этапах: от&nbsp;выбора до&nbsp;дальнейшего использования.</p>
        <p>Наши услуги помогают снизить риск ошибок при покупке, упростить запуск оборудования и&nbsp;сделать его эксплуатацию более понятной, безопасной и&nbsp;предсказуемой.</p>
      </div>
      <button class="page-hero__button button button--main" type="button" aria-label="Открыть форму и оставить заявку" data-modal-button="request">Оставить заявку</button>
    </div>
  </div>
</section>
