<section class="clients block">
  <div class="container">
    <h2 class="clients__title title">Кому особенно полезен грамотный подбор</h2>
    <div class="clients__swiper-container">
      <div class="clients__swiper" data-swiper="navigation">
        <ul class="clients__swiper-wrapper">
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/private@1x.webp 1x, img/clients/private@2x.webp 2x">
                    <img src="img/clients/private@1x.jpg" srcset="img/clients/private@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для частных клиентов</p>
                <p class="clients__text">Если нужен понятный вариант для дома, дачи или коттеджа, без навязывания лишнего и&nbsp;без перегруза сложными техническими терминами.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/business@1x.webp 1x, img/clients/business@2x.webp 2x">
                    <img src="img/clients/business@1x.jpg" srcset="img/clients/business@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Бизнесу</p>
                <p class="clients__text">Если важно защитить объект от&nbsp;простоев, подобрать надежное решение и&nbsp;не&nbsp;потерять время на&nbsp;ошибки в&nbsp;выборе.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/construction@1x.webp 1x, img/clients/construction@2x.webp 2x">
                    <img src="img/clients/construction@1x.jpg" srcset="img/clients/construction@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для строительных компаний</p>
                <p class="clients__text">Если нужно подобрать оборудование под стройплощадку, временный объект или рабочий цикл с&nbsp;конкретной нагрузкой.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/production@1x.webp 1x, img/clients/production@2x.webp 2x">
                    <img src="img/clients/production@1x.jpg" srcset="img/clients/production@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Коммерческим и техническим объектам</p>
                <p class="clients__text">Если критичны надежность, срок службы оборудования, устойчивость к&nbsp;нагрузкам и&nbsp;удобство дальнейшей эксплуатации.</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="clients__swiper-scrollbar hidden"></div>
      </div>
    </div>
    <button class="clients__order button button--main" type="button" aria-label="Открыть форму и заказать услугу" data-modal-button="service" data-service="Подбор оборудования">Заказать услугу</button>
  </div>
</section>
