@use "index" as *;

.button {
  @include interactive-button;

  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--white);
  text-decoration: none;
  border: none;
  background-color: var(--bg-primary);
  text-align: left;
  cursor: pointer;

  @include vp-768 {
    padding: 5px 12px;
    font-size: 16px;
  }

  &--disabled {
    background-color: var(--grey-middle);
    color: var(--grey-extra-light);
    cursor: default;
    pointer-events: none;
  }

  &--main {
    --icon-color: var(--white);

    position: relative;
    padding: 16px 17px 15px;
    font-size: 14px;

    @include vp-1280 {
      font-size: 16px;
    }

    &::after {
      position: absolute;
      top: 8px;
      right: 8px;
      content: "";
      border: 8px solid var(--transparent);
      border-right: 8px solid var(--icon-color);
      border-top: 8px solid var(--icon-color);
    }
  }

  &--dark {
    @include interactive-button-dark;

    background-color: var(--bg-dark);
  }

  &--light {
    --icon-color: var(--bg-primary);

    color: var(--bg-primary);
    background-color: var(--bg-light);
  }

  &--white {
    --icon-color: var(--bg-primary);

    color: var(--bg-primary);
    background-color: var(--white);
  }

  &--to-light {
    @include interactive-button-dark;
  }


  &.hidden {
    display: none;
  }
}
