@use "index" as *;

.button-scroll-top {
  --icon-color: var(--white);

  box-sizing: border-box;
  position: fixed;
  bottom: 60px;
  right: 10px;
  padding: 0;
  width: 39px;
  height: 39px;
  background-color: var(--bg-dark);
  border: none;
  box-shadow: 0 0 9px 4px rgba(255, 255, 255, 0.3);
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s, border 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  cursor: pointer;

  @include vp-768 {
    right: 20px;
    width: 49px;
    height: 49px;
  }

  @include vp-1024 {
    bottom: 5px;
  }

  @include vp-1640 {
    bottom: 40px;
    right: calc(50% - var(--content-width) / 2 - 75px);
  }

  @include vp-2500 {
    right: calc(50% - var(--big-content-width) / 2 - 75px);
  }

  @include vp-4000 {
    right: calc(50% - var(--full-content-width) / 2 - 75px);
  }

  &:focus-visible,
  &:hover {
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  // &:disabled {
  //   --icon-color: #{$color-grey-dark};

  //   border: 1px solid $color-grey-light;
  //   background-color: $color-light;
  //   opacity: 1;
  //   cursor: default;
  // }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    content: "";
    width: 100%;
    height: 100%;
    mask-image: url("../img/sprite.svg#arrow");
    mask-size: 20px 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--icon-color);
  }
}

.button-scroll-top--visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
