@use "index" as *;

.custom-scrollbar-wrapper {
  position: relative;
}

.custom-scrollbar {
  height: 218px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    appearance: none;
    width: 0;
    height: 0;
  }
}
