@use "index" as *;

.custom-scrollbar-wrapper {
  position: relative;
}

.custom-scrollbar {
  height: 218px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    appearance: none;
    width: 0;
    height: 0;
  }
}

.v-scrollbar {
  &.v-scrollbar_y {
    right: 24px;
    top: 20px;
    height: calc(100% - 20px * 2);
    width: 1px;
  }

  .v-scrollbar__track {
    background-color: var(--bg-light);

    .v-scrollbar__thumb {
      left: -3.5px;
      width: 8px !important;
      height: 8px !important;
      border-radius: 2px;
      background: var(--text-basic);
    }
  }
}
