.stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  margin: 0;
}

.stars__icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  mask-image: url("../img/sprite.svg#star");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  background-color: var(--bg-light);
}

.stars--one .stars__icon:nth-child(1) {
  background-color: var(--bg-primary);
}

.stars--two .stars__icon:nth-child(1),
.stars--two .stars__icon:nth-child(2) {
  background-color: var(--bg-primary);
}

.stars--three .stars__icon:nth-child(1),
.stars--three .stars__icon:nth-child(2),
.stars--three .stars__icon:nth-child(3) {
  background-color: var(--bg-primary);
}

.stars--four .stars__icon:nth-child(1),
.stars--four .stars__icon:nth-child(2),
.stars--four .stars__icon:nth-child(3),
.stars--four .stars__icon:nth-child(4) {
  background-color: var(--bg-primary);
}

.stars--five .stars__icon {
  background-color: var(--bg-primary);
}
