@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}

@mixin disabled {
  &:disabled {
    @content;
  }
}


// базовые стили состояний

@mixin interactive-link {
  transition: color 0.3s, opacity 0.3s;

  @include hover-focus {
    color: var(--text-light);
  }

  @include active {
    opacity: 0.8;
  }
}

@mixin interactive-link-light {
  transition: color 0.3s, opacity 0.3s;

  @include hover-focus {
    color: var(--text-basic);
  }

  @include active {
    opacity: 0.8;
  }
}

@mixin interactive-link-color {
  transition: color 0.3s, opacity 0.3s;

  @include hover-focus {
    color: var(--bg-dark);
  }

  @include active {
    opacity: 0.8;
  }
}


@mixin interactive-button {
  opacity: 1;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;

  @include hover-focus {
    --icon-color: var(--white);

    color: var(--white);
    background-color: var(--bg-dark);
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    background-color: var(--grey);
    color: var(--text-light);
    cursor: default;
    pointer-events: none;
  }
}

@mixin interactive-button-dark {
  opacity: 1;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;

  @include hover-focus {
    --icon-color: var(--bg-primary);

    color: var(--bg-primary);
    background-color: var(--white);
    outline: none;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    background-color: var(--grey);
    color: var(--text-light);
    cursor: default;
    pointer-events: none;
  }
}

@mixin interactive-opacity {
  transition: opacity 0.3s;
  cursor: pointer;

  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.5;
  }
}
