@use "breakpoint" as *;

@mixin block-margin {
  margin: 40px 0;

  @include vp-1024 {
    margin: 80px 0 120px;
  }
}

@mixin block-padding {
  padding: 40px 0;

  @include vp-1024 {
    padding: 80px 0;
  }
}

