@use "index" as *;

.blog__list {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 40px;
  }
}

.blog__item {
  &:not(:last-child) {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.blog__card {
  --color: var(--text-basic);
  --bg: var(--white);
  --button-bg: var(--bg-primary);
  --button-color: var(--white);

  display: block;

  @include vp-768 {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  @include hover-focus {
    --color: var(--white);
    --bg: var(--bg-primary);
    --button-bg: var(--white);
    --button-color: var(--bg-primary);

    outline: none;
  }
}

.blog__content {
  padding: 15px;
  background-color: var(--bg);
  transition: background-color 0.3s;

  @include vp-768 {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

.blog__img {
  position: relative;
  width: 100%;
  aspect-ratio: 370 / 203;
  margin: 0 0 15px;

  @include vp-550 {
    aspect-ratio: unset;
    height: 230px;
  }

  @include vp-768 {
    height: 203px;
  }

  @include vp-2500 {
    height: 270px;
  }

  img {
    @include img-bg;
  }
}

.blog__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  color: var(--color);
  transition: color 0.3s;
}

.blog__link {
  width: 100%;
  margin: 0;
  background-color: var(--button-bg);
  color: var(--button-color);
  pointer-events: none;

  &::after {
    border-right: 8px solid var(--button-color);
    border-top: 8px solid var(--button-color);
  }
}

.blog__link-more {
  @include link-order;
}

.blog__pagination {
  @include pagination;
}
