@use "index" as *;

.delivery {
  padding: 0 0 45px;
}

.delivery__desc {
  max-width: 675px;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-light);

  @include vp-1024 {
    margin: 0 0 35px;
  }
}

.delivery__swiper-container {
  position: relative;
  padding: 20px 35px;
  background-color: var(--bg-primary);

  @include vp-768 {
    padding: 0;
    background-color: var(--transparent);
  }
}

.delivery__swiper {
  position: static;
}

.delivery__swiper-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  // @include vp-768 {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   padding: 20px;
  //   background-color: var(--bg-primary);
  // }

  @include vp-768 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    background-color: var(--transparent);
  }

  &.swiper-wrapper {
    display: flex;
    gap: unset;
  }
}

.delivery__slide {
  @include vp-768 {
    flex-shrink: 0;
    width: calc((100% - 20px) / 4);
    padding: 20px 10px;
    background-color: var(--bg-primary);
  }

  @include vp-1024 {
    width: calc((100% - 20px) / 6);
  }

  // для планшета

  &:nth-child(4n + 1) {
    @include vp-768 {
      width: calc((100% - 20px) / 4 + 10px);
      padding-left: 20px;
    }
  }

  &:nth-child(4n),
  &:last-child {
    @include vp-768 {
      width: calc((100% - 20px) / 4 + 10px);
      padding-right: 20px;
    }
  }

  &:nth-child(n + 5) {
    @include vp-768 {
      padding-top: 0;
    }

    @include vp-1024 {
      padding-top: 20px;
    }
  }

  // для десктопа
  &:nth-child(4n + 1),
  &:nth-child(4n) {
    @include vp-1024 {
      width: calc((100% - 20px) / 6);
      padding: 20px 10px;
    }
  }

  &:nth-child(6n + 1) {
    @include vp-1024 {
      width: calc((100% - 20px) / 6 + 10px);
      padding-left: 20px;
    }
  }

  &:nth-child(6n),
  &:last-child {
    @include vp-1024 {
      width: calc((100% - 20px) / 6 + 10px);
      padding-right: 20px;
    }
  }

  &:nth-child(n + 7) {
    @include vp-1024 {
      padding-top: 0;
    }
  }
}

.delivery__item-wrapper {
  padding: 20px;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-light);
}

.delivery__img {
  width: 100%;
  height: 100%;

  img {
    @include img-contain;
  }
}


// .delivery__slide {
//   @include slide-layout;
// }

// .reviews__card {
//   @include slide-container;
// }

.delivery__swiper-button-container {
  @include swiper-button-position;

  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%);

  @include vp-1024 {
    justify-content: flex-end;
  }

  &.hidden {
    display: none;
  }
}
