@use "index" as *;

.features__desc {
  max-width: 1500px;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-light);

  @include vp-1024 {
    margin: 0 0 40px;
    font-size: 22px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @include vp-1024 {
    gap: 60px;
  }

  @include vp-1280 {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @include vp-2500 {
    gap: 130px;
  }

  &.swiper-wrapper {
    display: flex;
    gap: unset;
    margin: 0 0 20px;
  }
}

.features__item {
  &:not(:last-child) {
    margin: 0 0 20px;

    @include vp-768 {
      margin: 0;
    }
  }

  &--indicator {
    --icon: url("../img/sprite.svg#features-indicator");
  }

  &--gear {
    --icon: url("../img/sprite.svg#features-gear");
  }

  &--dialog {
    --icon: url("../img/sprite.svg#features-dialog");
  }

  &--lock {
    --icon: url("../img/sprite.svg#features-lock");
  }

  &--atom {
    --icon: url("../img/sprite.svg#features-atom");
  }

  &--lighting {
    --icon: url("../img/sprite.svg#features-lighting");
  }

  &--simple {
    --icon: url("../img/sprite.svg#features-simple");
  }

  &--tick {
    --icon: url("../img/sprite.svg#features-tick");
  }
}

.features__title {
  display: grid;
  grid-template-columns: 62px 1fr;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 20px;

  @include vp-768 {
    min-height: 76px;
  }

  @include vp-2500 {
    font-size: 22px;
  }

  &::before {
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    width: 62px;
    height: 62px;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--icon);
    mask-size: 100% 100%;
    background-color: var(--bg-primary);
  }
}

.features__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-light);

  @include vp-2500 {
    font-size: 18px;
  }
}

.features__order {
  @include link-order;

  margin: 20px auto 0;

  @include vp-1024 {
    margin: 40px auto 0;
  }
}

.features__slide {
  --card-width: 280px;
  --slide-width: var(--card-width);

  @include slide-layout;

  width: auto;

  @include vp-450 {
    --card-width: 350px;
  }
}

.features__slide .features__item {
  @include slide-container;

  width: var(--slide-width);

  @include vp-1024 {
    width: unset;
  }
}

.features__swiper-scrollbar {
  @include swiper-scrollbar;
}
