@use "index" as *;

.filters {
  padding: 10px 0 40px;

  @include vp-1024 {
    padding: 80px 0;
  }
}

.filters__button-open {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  background-color: var(-transparent);
  border: none;

  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 12px;
    height: 11px;
    background-color: var(--bg-primary);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../img/sprite.svg#select-arrow");
    mask-size: 12px 11px;
    transform: scaleY(1);
    transition: background-color 0.3s, transform 0.3s;
  }

  &.accordion-button--active {
    &::after {
      transform: scaleY(-1);
    }
  }
}

.filters__form {
  padding: 20px 10px 10px;
  color: var(--white);
  background-color: var(--bg-primary);
  transition: opacity 0.4s, max-height 0.4s, padding 0.4s;

  @include vp-1024 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 30px;
    padding: 0;
    background-color: var(--transparent);
  }

  &.accordion-content--opened {
    overflow: visible;
  }
}

.filters__fields-list {
  //overflow: hidden;
  transition: max-height 0.6s;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    padding: 10px 0 0;
  }

  @include vp-1024 {
    grid-template-columns: repeat(3, 1fr);
    gap: 23px 20px;
    padding: 15px;
    background-color: var(--bg-primary);
  }
}

.filters__group {
  margin: 0 0 10px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s;

  @include vp-768 {
    margin: 0;
  }

  &.field-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &--side {
    @include vp-1024 {
      grid-area: 1 / 1 / 3 / 2;
      padding: 15px;
      background-color: var(--bg-primary);
    }
  }
}

.filters__group-title {
  display: block;
  margin: 0 0 7px;
  font-weight: 400;
  font-size: 14px;
}

.filters__checkbox-list {
  height: 216px;
  margin: 0;
  padding: 20px;
  list-style-type: none;
  background-color: var(--white);
}

.filters__checkbox-item {
  &:not(:last-child) {
    margin: 0 0 10px;
  }
}

.filters__checkbox {
  @include checkbox;

  span {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 14px;

    span {
      margin: 0;
      color: var(--text-light);
    }
  }
}

.filters__dropdown {
  @include select-standard;

  &-button {
    padding: 10px 0 10px 10px;
    font-size: 16px;
  }

  .select__list {
    padding: 20px 10px 10px;
    left: unset;
    right: 0;
  }

  .select__item {
    font-size: 16px;
    text-align: right;

    &:not(:last-child) {
      margin: 0 0 15px;

      @include vp-768 {
        margin: 0;
      }
    }
  }
}

.filters__select {
  @include select-filter;
}

.filters__group-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 13px;
}

.filters__field {
  @include input-filter;
}

.filters__form-buttons {
  margin: 25px 0 0;
  padding: 0 0 10px;

  @include vp-1024 {
    display: grid;
    grid-template-columns: auto 240px 240px;
    align-items: end;
    gap: 0 10px;
    margin: 0;
    padding: 30px 0 0 15px;
  }
}

.filters__advanced-search {
  @include interactive-link;

  margin: 0 0 20px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  border: none;
  background-color: var(--transparent);
  color: var(--white);

  @include vp-1024 {
    margin: 0;
    color: var(--text-basic);
    text-align: left;
  }
}

.filters__button {
  width: 100%;

  &:not(:last-child) {
    margin: 0 0 5px;

    @include vp-768 {
      margin: 0 0 10px;
    }

    @include vp-1024 {
      margin: 0;
    }
  }

  &--show {
    @include vp-1024 {
      @include interactive-button;

      background-color: var(--bg-primary);
    }
  }
}

.filters__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0 0 10px;
}

.filters__view {
  display: none;
}

.filters__products {
  margin: -20px 0 0;
  padding: 0;
  list-style-type: none;

  @include vp-1024 {
    margin: 0;
  }
}

.accordion-content--opened+.filters__products {
  margin: 20px 0 0;
}
