@use "index" as *;

.filters {
  padding: 10px 0 40px;

  @include vp-1024 {
    padding: 80px 0;
  }
}

.filters__title {
  display: none;

  @include vp-1024 {
    display: block;
  }
}

.filters__button-open {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  background-color: var(-transparent);
  border: none;

  @include vp-1024 {
    display: none;
  }

  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 12px;
    height: 11px;
    background-color: var(--bg-primary);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../img/sprite.svg#select-arrow");
    mask-size: 12px 11px;
    transform: scaleY(1);
    transition: background-color 0.3s, transform 0.3s;
  }

  &.accordion-button--active {
    &::after {
      transform: scaleY(-1);
    }
  }
}

.filters__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100dvh;
  overflow-y: scroll;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  padding: 20px 10px 10px;
  color: var(--white);
  background-color: var(--bg-primary);
  transition: transform 0s, opacity 0s, max-height 0s;

  @include vp-1024 {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 30px;
    padding: 0;
    overflow-y: unset;
    background-color: var(--transparent);
    transition: opacity 0.4s, max-height 0.4s;
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: var(--z-modal);
    transition: transform 0.4s, opacity 0.4s, max-height 0.4s;
  }
}

.filters__close-button {
  @include close-button;

  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;

  @include vp-1024 {
    display: none;
  }

  &::before,
  &::after {
    width: 25px;
    background-color: var(--white);
  }
}

.filters__fields-list {
  transition: max-height 0.6s;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    padding: 10px 0 0;
  }

  @include vp-1024 {
    grid-template-columns: repeat(3, 1fr);
    gap: 23px 20px;
    padding: 15px;
    background-color: var(--bg-primary);
  }
}

.filters__group {
  margin: 0 0 10px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s 0.2s, opacity 0.6s 0.2s;

  @include vp-768 {
    margin: 0;
  }

  &.field-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
  }

  &--side {
    @include vp-1024 {
      grid-area: 1 / 1 / 3 / 2;
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 15px;
      background-color: var(--bg-primary);
    }
  }
}

.filters__group-title {
  display: block;
  margin: 0 0 7px;
  font-weight: 400;
  font-size: 14px;
}

.filters__checkboxes {
  position: relative;
  padding: 20px;
  background-color: var(--white);
}

.filters__checkbox-list {
  position: relative;
  width: calc(100% - 50px);
  height: 216px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--white);

  @include vp-1024 {
    position: absolute;
    height: calc(100% - 20px * 2);
  }
}

.filters__checkbox-item {
  &:not(:last-child) {
    margin: 0 0 10px;
  }
}

.filters__checkbox {
  @include checkbox;

  span {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 14px;

    span {
      margin: 0;
      color: var(--text-light);
    }
  }
}

.filters__dropdown {
  @include select-standard;

  &-button {
    padding: 10px 0 10px 10px;
    font-size: 16px;
  }

  .select__list {
    padding: 20px 10px 10px;
    left: unset;
    right: 0;

    @include vp-1024 {
      left: 0;
      right: unset;
    }
  }

  .select__item {
    font-size: 16px;
    text-align: right;

    @include vp-1024 {
      text-align: left;
    }

    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }
}

.filters__select {
  @include select-filter;
}

.filters__group-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 13px;
}

.filters__field {
  @include input-filter;
}

.filters__form-buttons {
  margin: 25px 0 0;
  padding: 0 0 10px;

  @include vp-1024 {
    display: grid;
    grid-template-columns: auto 240px 240px;
    align-items: end;
    gap: 0 10px;
    margin: 0;
    padding: 30px 0 0 15px;
  }

  @include vp-1366 {
    grid-template-columns: auto 312px 312px;
  }
}

.filters__advanced-search {
  @include interactive-link;

  margin: 0 0 20px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  border: none;
  background-color: var(--transparent);
  color: var(--white);

  @include vp-1024 {
    width: fit-content;
    margin: 0;
    color: var(--text-basic);
    text-align: left;
  }
}

.filters__button {
  width: 100%;

  &:not(:last-child) {
    margin: 0 0 5px;

    @include vp-768 {
      margin: 0 0 10px;
    }

    @include vp-1024 {
      margin: 0;
    }
  }

  &--show {
    @include vp-1024 {
      @include interactive-button;

      background-color: var(--bg-primary);
    }
  }
}

.filters__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0 0 10px;

  @include vp-1024 {
    align-items: flex-end;
  }
}

.filters__view {
  display: none;

  @include vp-1024 {
    @include view-toggles;

    display: block;
  }
}

.filters__products {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
  opacity: 1;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 40px;
  }

  @include vp-1400 {
    grid-template-columns: repeat(4, 1fr);
  }

  &--list {
    @include vp-1024 {
      grid-template-columns: 1fr;
    }
  }

  &--animated {
    transition: opacity 0.3s;
  }

  &--hidden {
    opacity: 0;
  }
}

.accordion-content--opened+.filters__products {
  margin: 20px 0 0;
}

.filters__product-card {
  &:not(:last-child) {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.filters__pagination {
  @include pagination;
}
