@use "index" as *;

.media__swiper {
  padding: 20px;
  background-color: var(--bg-primary);

  &.swiper {
    margin: 0 0 20px;
  }
}

.media__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.swiper-wrapper {
    display: flex;
    gap: unset;
  }
}

.media__slide {
  &:not(:last-child) {
    margin: 0 0 20px;

    @include vp-768 {
      margin: 0;
    }
  }

}

.media__img {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 360 / 252;

  @include vp-768 {
    aspect-ratio: unset;
    height: 290px;
  }

  img {
    @include img-cover;
  }
}

.media__swiper-button-container {
  @include swiper-button-position;

  justify-content: center;

  &.hidden {
    display: none;
  }
}

.swiper-wrapper .media__item {
  @include slide-layout;
}

.swiper-wrapper .media__img {
  @include slide-container;
}
