@use "index" as *;

.reviews {
  overflow: hidden;
  margin: 80px 0 20px;
  padding: 0 0 20px;

  @include vp-1024 {
    margin: 120px 0 80px;
  }


  .container {
    padding: 0;

    @include vp-1024 {
      padding: 0 var(--container-offset-tablet);
      overflow: unset;
    }
  }
}

.reviews__title {
  padding: 0 var(--container-offset-mobile);

  @include vp-768 {
    padding: 0 var(--container-offset-tablet);
  }

  @include vp-1024 {
    padding: 0;
  }
}

.reviews__swiper-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0;
  }

  @include vp-1280 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.swiper-wrapper {
    display: flex;
    gap: unset;
    margin: 0 0 20px;
  }
}

.reviews__slide {
  --padding: 0;
  --card-width: 300px;
  --slide-width: var(--card-width);

  @include slide-layout;

  width: auto;

  @include vp-400 {
    --card-width: 335px;
  }

  &:first-child {
    --padding: 0 0 0 var(--container-offset-mobile);
    --slide-width: calc(var(--card-width) + var(--container-offset-mobile));

    @include vp-768 {
      --padding: 0 0 0 var(--container-offset-tablet);
      --slide-width: calc(var(--card-width) + var(--container-offset-tablet));
    }
  }

  &:last-child {
    --padding: 0 var(--container-offset-mobile) 0 0;
    --slide-width: calc(var(--card-width) + var(--container-offset-mobile));

    @include vp-768 {
      --padding: 0 var(--container-offset-tablet) 0 0;
      --slide-width: calc(var(--card-width) + var(--container-offset-tablet));
    }
  }
}

.reviews__card {
  @include slide-container;

  width: var(--slide-width);
  padding: var(--padding);

  @include vp-1024 {
    width: 100%;
    padding: 0;
  }
}

.reviews__card-wrapper {
  display: block;
  height: 100%;
  padding: 20px;
  background-color: var(--bg-light);
  text-align: center;
  transition: background-color 0.3s,
    box-shadow 0.3s;

  @include vp-2500 {
    padding: 40px;
  }

  @include hover-focus {
    outline-offset: -1px;
    background-color: var(--text-extra-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.reviews__img {
  position: relative;
  width: 213px;
  height: 62px;
  margin: 0 auto 35px;

  img {
    @include img-contain;
  }
}

.reviews__text {
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.reviews__rating {
  margin: 0 0 33px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.reviews__stars {
  margin: 0 auto;
}

.reviews__swiper-scrollbar {
  @include swiper-scrollbar;

  margin: 0 var(--container-offset-mobile);

  @include vp-768 {
    margin: 0 var(--container-offset-tablet);
  }

  @include vp-1024 {
    margin: 0;
  }
}

.reviews__order {
  @include link-order;

  width: calc(100% - 2 * var(--container-offset-mobile));
  margin: 0 var(--container-offset-mobile);

  @include vp-768 {
    width: fit-content;
    margin: 0 auto;
  }
}
