<section class="catalog">
  <h2 class="visually-hidden">Каталог</h2>
  <div class="container">
    <p class="catalog__title title">Закрываем ключевые задачи проекта одним поставщиком</p>
    <ul class="catalog__list">
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/dizel-tablet@1x.webp 1x, img/products/dizel-tablet@2x.webp 2x">
              <img src="img/products/dizel-tablet@1x.png" srcset="img/products/dizel-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Дизель-генераторы (ДГУ)</h2>
          <p class="catalog__text">Надежные решения для резервного и&nbsp;основного электроснабжения объектов, где важны мощность, стабильность и&nbsp;длительная работа под нагрузкой.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
              <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Бензогенераторы</h2>
          <p class="catalog__text">Удобный вариант для дома, дачи, небольших объектов и&nbsp;временного резервного питания, когда нужна простая и&nbsp;быстрая подача электроэнергии.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/gaz-tablet@1x.webp 1x, img/products/gaz-tablet@2x.webp 2x">
              <img src="img/products/gaz-tablet@1x.png" srcset="img/products/gaz-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Газовые генераторы</h2>
          <p class="catalog__text">Оптимальный выбор для объектов, где оборудование работает долго и&nbsp;регулярно.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/svar-tablet@1x.webp 1x, img/products/svar-tablet@2x.webp 2x">
              <img src="img/products/svar-tablet@1x.png" srcset="img/products/svar-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Сварочные генераторы</h2>
          <p class="catalog__text">Оборудование где нужно одновременно обеспечить электропитание и&nbsp;выполнять сварочные работы в&nbsp;полевых или строительных условиях.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/container-tablet@1x.webp 1x, img/products/container-tablet@2x.webp 2x">
              <img src="img/products/container-tablet@1x.png" srcset="img/products/container-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Контейнеры для&nbsp;генераторов</h2>
          <p class="catalog__text">Защитные решения для генераторов, которые защищают оборудование от&nbsp;внешних условий и&nbsp;делают эксплуатацию удобнее и&nbsp;безопаснее.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/ibp-tablet@1x.webp 1x, img/products/ibp-tablet@2x.webp 2x">
              <img src="img/products/ibp-tablet@1x.png" srcset="img/products/ibp-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">ИБП</h2>
          <p class="catalog__text">Оборудование для защиты техники и&nbsp;систем от&nbsp;отключений, скачков и&nbsp;перебоев в&nbsp;сети, чтобы сохранить стабильную работу оборудования.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/abp-tablet@1x.webp 1x, img/products/abp-tablet@2x.webp 2x">
              <img src="img/products/abp-tablet@1x.png" srcset="img/products/abp-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">АВР</h2>
          <p class="catalog__text">Система, которая автоматически переключает объект на&nbsp;резервный источник питания при отключении основной сети.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/stabilizator-tablet@1x.webp 1x, img/products/stabilizator-tablet@2x.webp 2x">
              <img src="img/products/stabilizator-tablet@1x.png" srcset="img/products/stabilizator-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Стабилизаторы напряжения</h2>
          <p class="catalog__text">Оборудование для выравнивания напряжения и&nbsp;защиты техники от&nbsp;перепадов, перегрузок и&nbsp;нестабильной сети.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/diz-compressor-tablet@1x.webp 1x, img/products/diz-compressor-tablet@2x.webp 2x">
              <img src="img/products/diz-compressor-tablet@1x.png" srcset="img/products/diz-compressor-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Дизельные компрессоры</h2>
          <p class="catalog__text">Мощное оборудование для подачи сжатого воздуха на&nbsp;строительных, промышленных и&nbsp;технических объектах.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/motopomp-tablet@1x.webp 1x, img/products/motopomp-tablet@2x.webp 2x">
              <img src="img/products/motopomp-tablet@1x.png" srcset="img/products/motopomp-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Мотопомпы</h2>
          <p class="catalog__text">Решения для перекачки воды и&nbsp;других жидкостей при строительных, аварийных, сельскохозяйственных и&nbsp;технических работах.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/teplo-tablet@1x.webp 1x, img/products/teplo-tablet@2x.webp 2x">
              <img src="img/products/teplo-tablet@1x.png" srcset="img/products/teplo-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Тепловые пушки</h2>
          <p class="catalog__text">Оборудование для быстрого обогрева помещений, строительных площадок, складов и&nbsp;временных объектов в&nbsp;холодный период.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/modul-kotel-tablet@1x.webp 1x, img/products/modul-kotel-tablet@2x.webp 2x">
              <img src="img/products/modul-kotel-tablet@1x.png" srcset="img/products/modul-kotel-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Модульные котельные</h2>
          <p class="catalog__text">Готовые решения для организации автономного теплоснабжения объектов разного назначения.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/vibroplit-tablet@1x.webp 1x, img/products/vibroplit-tablet@2x.webp 2x">
              <img src="img/products/vibroplit-tablet@1x.png" srcset="img/products/vibroplit-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Виброплиты</h2>
          <p class="catalog__text">Техника для уплотнения грунта, песка, щебня и&nbsp;других оснований при строительных и&nbsp;дорожных работах.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/vibrotrambov-tablet@1x.webp 1x, img/products/vibrotrambov-tablet@2x.webp 2x">
              <img src="img/products/vibrotrambov-tablet@1x.png" srcset="img/products/vibrotrambov-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Вибротрамбовки</h2>
          <p class="catalog__text">Оборудование для точечного и&nbsp;глубокого уплотнения грунта в&nbsp;местах, где неудобно использовать более крупную технику.</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/copr-tablet@1x.webp 1x, img/products/copr-tablet@2x.webp 2x">
              <img src="img/products/copr-tablet@1x.png" srcset="img/products/copr-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Копры (свайные)</h2>
          <p class="catalog__text">Техника для установки свай и&nbsp;выполнения свайных работ на&nbsp;строительных объектах</p>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="218" height="194" type="image/webp" srcset="img/products/svet-tablet@1x.webp 1x, img/products/svet-tablet@2x.webp 2x">
              <img src="img/products/svet-tablet@1x.png" srcset="img/products/svet-tablet@2x.png 2x" width="218" height="194" alt="">
            </picture>
          </div>
          <h2 class="catalog__subtitle">Осветительные мачты</h2>
          <p class="catalog__text">Оборудование для организации временного освещения на&nbsp;стройке, мероприятиях, производственных площадках и&nbsp;других объектах.</p>
        </a>
      </li>
    </ul>
    <button class="catalog__order button button--main" type="button">Подобрать оборудование</button>
  </div>
</section>
