<section class="thanks block-color">
  <div class="container">
    <h2 class="thanks__title title">Наши сертификаты</h2>
    <div class="thanks__swiper-container">
      <div class="thanks__swiper" data-swiper="navigation">
        <ul class="thanks__swiper-wrapper">
          <li class="thanks__slide">
            <div class="thanks__card">
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <span class="thanks__photo-preview-wrapper">
                  <picture>
                    <source width="305" height="441" type="image/webp" srcset="img/certificate/1@1x.webp 1x, img/certificate/1@2x.webp 2x">
                    <img src="img/certificate/1@1x.jpg" srcset="img/certificate/1@2x.jpg 2x" width="305" height="441" alt="">
                  </picture>
                </span>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="565" height="800" type="image/webp" srcset="img/certificate/1-full@1x.webp 1x, img/certificate/1-full@2x.webp 2x">
                  <img src="img/certificate/1-full@1x.jpg" srcset="img/certificate/1-full@2x.jpg 2x" width="565" height="800" alt="">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <span class="thanks__photo-preview-wrapper">
                  <picture>
                    <source width="305" height="441" type="image/webp" srcset="img/certificate/1@1x.webp 1x, img/certificate/1@2x.webp 2x">
                    <img src="img/certificate/1@1x.jpg" srcset="img/certificate/1@2x.jpg 2x" width="305" height="441" alt="">
                  </picture>
                </span>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="565" height="800" type="image/webp" srcset="img/certificate/1-full@1x.webp 1x, img/certificate/1-full@2x.webp 2x">
                  <img src="img/certificate/1-full@1x.jpg" srcset="img/certificate/1-full@2x.jpg 2x" width="565" height="800" alt="">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <span class="thanks__photo-preview-wrapper">
                  <picture>
                    <source width="305" height="441" type="image/webp" srcset="img/certificate/1@1x.webp 1x, img/certificate/1@2x.webp 2x">
                    <img src="img/certificate/1@1x.jpg" srcset="img/certificate/1@2x.jpg 2x" width="305" height="441" alt="">
                  </picture>
                </span>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="565" height="800" type="image/webp" srcset="img/certificate/1-full@1x.webp 1x, img/certificate/1-full@2x.webp 2x">
                  <img src="img/certificate/1-full@1x.jpg" srcset="img/certificate/1-full@2x.jpg 2x" width="565" height="800" alt="">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <span class="thanks__photo-preview-wrapper">
                  <picture>
                    <source width="305" height="441" type="image/webp" srcset="img/certificate/1@1x.webp 1x, img/certificate/1@2x.webp 2x">
                    <img src="img/certificate/1@1x.jpg" srcset="img/certificate/1@2x.jpg 2x" width="305" height="441" alt="">
                  </picture>
                </span>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="565" height="800" type="image/webp" srcset="img/certificate/1-full@1x.webp 1x, img/certificate/1-full@2x.webp 2x">
                  <img src="img/certificate/1-full@1x.jpg" srcset="img/certificate/1-full@2x.jpg 2x" width="565" height="800" alt="">
                </picture>
              </div>
            </div>
          </li>
          <li class="thanks__slide">
            <div class="thanks__card">
              <button class="thanks__photo-preview" type="button" data-modal-button="image-full">
                <span class="thanks__photo-preview-wrapper">
                  <picture>
                    <source width="305" height="441" type="image/webp" srcset="img/certificate/1@1x.webp 1x, img/certificate/1@2x.webp 2x">
                    <img src="img/certificate/1@1x.jpg" srcset="img/certificate/1@2x.jpg 2x" width="305" height="441" alt="">
                  </picture>
                </span>
              </button>
              <div class="thanks__photo-full" data-full-photo>
                <picture>
                  <source width="565" height="800" type="image/webp" srcset="img/certificate/1-full@1x.webp 1x, img/certificate/1-full@2x.webp 2x">
                  <img src="img/certificate/1-full@1x.jpg" srcset="img/certificate/1-full@2x.jpg 2x" width="565" height="800" alt="">
                </picture>
              </div>
            </div>
          </li>
        </ul>
        <div class="thanks__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
