<section class="clients block">
  <div class="container">
    <h2 class="clients__title title">Работаем с&nbsp;частными клиентами, коммерческими заказчиками и&nbsp;государственными структурами</h2>
    <div class="clients__swiper-container">
      <div class="clients__swiper" data-swiper="navigation">
        <ul class="clients__swiper-wrapper">
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/private@1x.webp 1x, img/clients/private@2x.webp 2x">
                    <img src="img/clients/private@1x.jpg" srcset="img/clients/private@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для частных клиентов</p>
                <p class="clients__text">Дом, дача, коттедж, резервное питание, защита техники, понятный подбор и&nbsp;честное решение по&nbsp;бюджету.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/business@1x.webp 1x, img/clients/business@2x.webp 2x">
                    <img src="img/clients/business@1x.jpg" srcset="img/clients/business@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для малого и&nbsp;среднего бизнеса</p>
                <p class="clients__text">Офисы, магазины, сервисные компании, коммерческие помещения, где важны непрерывность работы и&nbsp;надежность.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/construction@1x.webp 1x, img/clients/construction@2x.webp 2x">
                    <img src="img/clients/construction@1x.jpg" srcset="img/clients/construction@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для строительных компаний</p>
                <p class="clients__text">Генераторы, компрессоры, осветительные мачты, тепловое и&nbsp;виброоборудование для стройплощадок и&nbsp;временных объектов.</p>
              </div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__card">
              <div class="clients__card-wrapper">
                <div class="clients__img">
                  <picture>
                    <source width="305" height="370" type="image/webp" srcset="img/clients/production@1x.webp 1x, img/clients/production@2x.webp 2x">
                    <img src="img/clients/production@1x.jpg" srcset="img/clients/production@2x.jpg 2x" width="305" height="370" alt="">
                  </picture>
                </div>
                <p class="clients__subtitle">Для производственных и&nbsp;технических объектов</p>
                <p class="clients__text">Энергоснабжение, автоматика, оборудование для объектов с&nbsp;высокой нагрузкой и&nbsp;критичной инфраструктурой</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="clients__swiper-scrollbar hidden"></div>
      </div>
    </div>
    <button class="clients__order button button--main" type="button" aria-label="Открыть форму и запросить коммерческое предложение" data-modal-button="kp">Запросить КП</button>
  </div>
</section>
