<section class="contacts block-color">
  <div class="container">
    <div class="contacts__wrapper">
      <h2 class="title">Наши контакты</h2>
      <div class="contacts__group">
        <p class="contacts__subtitle">По общим вопросам</p>
        <a class="contacts__tel" href="tel:+74957488890">+7&nbsp;495&nbsp;748&nbsp;88&nbsp;90</a>
        <a class="contacts__tel" href="tel:+79256484808">+7&nbsp;925&nbsp;648&nbsp;48&nbsp;08</a>
        <a class="contacts__mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">info@generatory-russia.ru</a>
      </div>
      <div class="contacts__map map">
        <div class="map__wrapper">
          <div class="map__image">
            <picture>
              <source width="868" height="467" type="image/webp" media="(min-width: 768px)" srcset="img/map/map-tablet@1x.webp 1x, img/map/map-tablet@2x.webp 2x">
              <source width="392" height="305" type="image/webp" srcset="img/map/map-mobile@1x.webp 1x, img/map/map-mobile@2x.webp 2x">
              <source width="868" height="467" type="image/jpg" media="(min-width: 768px)" srcset="img/map/map-tablet@1x.jpg 1x, img/map/map-tablet@2x.jpg 2x">
              <img src="img/map/map-mobile@1x.jpg" srcset="img/map/map-mobile@2x.jpg 2x" width="392" height="305" alt="Map.">
            </picture>
          </div>
          <div class="map__iframe">
            <iframe src="https://yandex.ru/map-widget/v1/?ll=37.217921%2C55.639126&mode=whatshere&whatshere%5Bpoint%5D=37.217921%2C55.639126&whatshere%5Bzoom%5D=17&z=16&scroll=false" height="728"></iframe>
          </div>
        </div>
      </div>
      <div class="contacts__group">
        <p class="contacts__subtitle">Адрес офиса</p>
        <p class="contacts__address">143080, Московская&nbsp;область, Одинцовский&nbsp;р&#8288;-&#8288;он, д.п.&nbsp;Лесной городок, ул.Молодёжная,&nbsp;д.6,&nbsp;п.13</p>
      </div>
      <div class="contacts__group">
        <p class="contacts__subtitle">Мы на связи</p>
        <ul class="footer__socials">
          <li class="contacts__socials-item">
            <a class="contacts__socials-link contacts__socials-link--tg" href="https://t.me/+79256484808" target="_blank" rel="noreferrer noopener">
              <span class="visually-hidden">Телеграм.</span>
            </a>
          </li>
          <li class="contacts__socials-item">
            <a class="contacts__socials-link contacts__socials-link--max" href="#" target="_blank" rel="noreferrer noopener">
              <span class="visually-hidden">Макс.</span>
            </a>
          </li>
          <li class="contacts__socials-item">
            <a class="contacts__socials-link contacts__socials-link--dzen" href="https://dzen.ru/id/623dbda8c523444e0e339c9b" target="_blank" rel="noreferrer noopener">
              <span class="visually-hidden">Яндекс Дзен.</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
