<section class="decision">
  <div class="container">
    <h2 class="decision__title title">Подберём оборудование под&nbsp;вашу задачу</h2>
    <p class="decision__desc">Мы&nbsp;подбираем оборудование для дома, оборудование для бизнеса, оборудование для строительных объектов и&nbsp;оборудование для производства. Для каждого сегмента важны свои параметры: для частного дома&nbsp;&mdash; понятность и&nbsp;честный подбор, для бизнеса&nbsp;&mdash; непрерывность процессов, для стройки&nbsp;&mdash; надёжность под нагрузкой, для производства&nbsp;&mdash; устойчивость и&nbsp;долговечность решения.</p>
    <ul class="decision__list">
      <li class="decision__item">
        <div class="decision__img">
          <picture>
            <source width="690" height="460" type="image/webp" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.webp 1x, img/decision/decision-tablet@2x.webp 2x">
            <source width="400" height="267" type="image/webp" srcset="img/decision/decision-mobile@1x.webp 1x, img/decision/decision-mobile@2x.webp 2x">
            <source width="690" height="460" type="image/jpg" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.jpg 1x, img/decision/decision-tablet@2x.jpg 2x">
            <img src="img/decision/decision-mobile@1x.jpg" srcset="img/decision/decision-mobile@2x.jpg 2x" width="400" height="267" alt="">
          </picture>
        </div>
        <div class="decision__content">
          <p class="decision__title">Резервное и автономное электроснабжение</p>
          <p class="decision__text">Для дома, офиса, магазина, стройки, производства и&nbsp;объектов, где нельзя допустить остановку.</p>
        </div>
      </li>
      <li class="decision__item">
        <div class="decision__img">
          <picture>
            <source width="690" height="460" type="image/webp" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.webp 1x, img/decision/decision-tablet@2x.webp 2x">
            <source width="400" height="267" type="image/webp" srcset="img/decision/decision-mobile@1x.webp 1x, img/decision/decision-mobile@2x.webp 2x">
            <source width="690" height="460" type="image/jpg" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.jpg 1x, img/decision/decision-tablet@2x.jpg 2x">
            <img src="img/decision/decision-mobile@1x.jpg" srcset="img/decision/decision-mobile@2x.jpg 2x" width="400" height="267" alt="">
          </picture>
        </div>
        <div class="decision__content">
          <p class="decision__title">Защита оборудования и&nbsp;сети</p>
          <p class="decision__text">Решения с&nbsp;ИБП, АВР и&nbsp;стабилизаторами для стабильной работы техники и&nbsp;инженерных систем.</p>
        </div>
      </li>
      <li class="decision__item">
        <div class="decision__img">
          <picture>
            <source width="690" height="460" type="image/webp" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.webp 1x, img/decision/decision-tablet@2x.webp 2x">
            <source width="400" height="267" type="image/webp" srcset="img/decision/decision-mobile@1x.webp 1x, img/decision/decision-mobile@2x.webp 2x">
            <source width="690" height="460" type="image/jpg" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.jpg 1x, img/decision/decision-tablet@2x.jpg 2x">
            <img src="img/decision/decision-mobile@1x.jpg" srcset="img/decision/decision-mobile@2x.jpg 2x" width="400" height="267" alt="">
          </picture>
        </div>
        <div class="decision__content">
          <p class="decision__title">Временное оснащение строительной площадки</p>
          <p class="decision__text">Генераторы, компрессоры, осветительные мачты, виброоборудование и&nbsp;тепловые решения под объект.</p>
        </div>
      </li>
      <li class="decision__item">
        <div class="decision__img">
          <picture>
            <source width="690" height="460" type="image/webp" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.webp 1x, img/decision/decision-tablet@2x.webp 2x">
            <source width="400" height="267" type="image/webp" srcset="img/decision/decision-mobile@1x.webp 1x, img/decision/decision-mobile@2x.webp 2x">
            <source width="690" height="460" type="image/jpg" media="(min-width: 768px)" srcset="img/decision/decision-tablet@1x.jpg 1x, img/decision/decision-tablet@2x.jpg 2x">
            <img src="img/decision/decision-mobile@1x.jpg" srcset="img/decision/decision-mobile@2x.jpg 2x" width="400" height="267" alt="">
          </picture>
        </div>
        <div class="decision__content">
          <p class="decision__title">Оснащение объектов теплом, водой и&nbsp;воздухом</p>
          <p class="decision__text">Тепловые пушки, котельные, мотопомпы, компрессоры под сезонные, строительные и&nbsp;аварийные задачи.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
