<div class="delivery-preview">
  <div class="container">
    <div class="delivery-preview__wrapper">
      <div class="delivery-preview__card">
        <h2 class="delivery-preview__title">Способы доставки</h2>
        <p class="delivery-preview__text">Отправляем заказы в&nbsp;день оформления. Курьерская доставка, самовывоз или транспортные компании по&nbsp;всей России&nbsp;&mdash; выбирайте удобный вариант.</p>
        <a class="delivery-preview__link button button--main button--light" href="#">Подробнее о доставке</a>
        <div class="delivery-preview__img">
          <picture>
            <source width="360" height="225" type="image/webp" srcset="img/delivery/delivery-preview@1x.webp 1x, img/delivery/delivery-preview@2x.webp 2x">
            <img src="img/delivery/delivery-preview@1x.jpg" srcset="img/delivery/delivery-preview@2x.jpg 2x" width="360" height="225" alt="">
          </picture>
        </div>
      </div>
      <div class="delivery-preview__card">
        <h2 class="delivery-preview__title">Способы оплаты</h2>
        <p class="delivery-preview__text">Мы&nbsp;принимаем оплату наличными, онлайн оплату банковскими картами, на&nbsp;расчётный счёт для юридических лиц (с&nbsp;НДС и&nbsp;без НДС), а&nbsp;также редлагаем покупку в&nbsp;лизинг.</p>
        <a class="delivery-preview__link button button--main button--light" href="#">Подробнее об оплате</a>
        <div class="delivery-preview__img">
          <picture>
            <source width="360" height="225" type="image/webp" srcset="img/delivery/payment-preview@1x.webp 1x, img/delivery/payment-preview@2x.webp 2x">
            <img src="img/delivery/payment-preview@1x.jpg" srcset="img/delivery/payment-preview@2x.jpg 2x" width="360" height="225" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
