<section class="items block">
  <div class="container">
    <h2 class="items__title title">Доставка по Краснодару и Краснодарскому&nbsp;краю</h2>
    <p class="items__desc">Поставляем оборудование по&nbsp;Краснодару и&nbsp;всему Краснодарскому краю для частных, коммерческих, строительных и&nbsp;технических объектов. Помогаем заранее согласовать условия доставки, чтобы поставка прошла удобно и&nbsp;без лишних сложностей.</p>
    <ul class="items__list">
      <li class="items__item">
        <p class="items__subtitle">Самовывоз</p>
        <p class="items__text">Часть оборудования можно забрать самостоятельно по&nbsp;предварительному согласованию, если клиенту так удобнее.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Индивидуальные условия доставки</p>
        <p class="items__text">Для крупногабаритного, технически сложного или многопозиционного заказа условия поставки обсуждаются отдельно.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Доставка для частных клиентов &laquo;до&nbsp;двери&raquo;</p>
        <p class="items__text">Подбираем удобный формат поставки для дома, дачи и&nbsp;частных объектов, чтобы получение оборудования было удобным.</p>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Доставка на&nbsp;объект</p>
        <p class="items__text">Организуем поставку оборудования к&nbsp;офису, магазину, на&nbsp;стройку или склад с&nbsp;учетом расположения объекта.</p>
      </li>
    </ul>
  </div>
</section>
