<section class="details block">
  <div class="container">
    <h2 class="title">Наши реквизиты</h2>
    <div class="details__wrapper">
      <div class="details__content">
        <div class="details__group">
          <p class="details__name">ОГРН</p>
          <p class="details__text">1247700177526</p>
        </div>
        <div class="details__group">
          <p class="details__name">ИНН</p>
          <p class="details__text">9726069136</p>
        </div>
        <div class="details__group">
          <p class="details__name">КПП</p>
          <p class="details__text">772601001</p>
        </div>
        <div class="details__group">
          <p class="details__name">ОКПО</p>
          <p class="details__text">86210557</p>
        </div>
        <div class="details__group">
          <p class="details__name">Юридический адрес</p>
          <p class="details__text">117105, г.&nbsp;Москва, вн.тер.г. муниципальный округ Донской, Новоданиловский проезд, д.&nbsp;4</p>
        </div>
      </div>
      <div class="details__img">
        <picture>
          <source width="645" height="509" type="image/webp" srcset="img/delivery/details@1x.webp 1x, img/delivery/details@2x.webp 2x">
          <img src="img/delivery/details@1x.jpg" srcset="img/delivery/details@2x.jpg 2x" width="645" height="509" alt="">
        </picture>
      </div>
      <button class="details__download button button--main" type="button">Скачать реквизиты</button>
    </div>
  </div>
</section>
