<section class="features block">
  <h2 class="visually-hidden">Наши преимущества</h2>
  <div class="container">
    <ul class="features__list">
      <li class="features__item features__item--indicator">
        <p class="features__title">Подбираем решение под задачу, а&nbsp;не&nbsp;продаем оборудование по&nbsp;шаблону</p>
        <p class="features__text">Мы&nbsp;не&nbsp;предлагаем &laquo;самый мощный&raquo; или &laquo;самый дорогой&raquo; вариант без разбора. Сначала вникаем в&nbsp;объект, нагрузку, условия эксплуатации и&nbsp;бюджет, а&nbsp;потом подбираем оборудование, которое действительно решает задачу клиента.</p>
      </li>
      <li class="features__item features__item--gear">
        <p class="features__title">Закрываем проект целиком: от&nbsp;подбора до&nbsp;запуска и&nbsp;сервиса</p>
        <p class="features__text">Компания сопровождает клиента на&nbsp;всех этапах: подбор, поставка, монтаж, подключение, настройка, обслуживание и&nbsp;ремонт. Это позволяет не&nbsp;искать нескольких подрядчиков и&nbsp;получать рабочее решение в&nbsp;одном месте.</p>
      </li>
      <li class="features__item features__item--dialog">
        <p class="features__title">Объясняем понятно, работаем профессионально</p>
        <p class="features__text">Для частных клиентов важно, чтобы с&nbsp;ними говорили простым языком, а&nbsp;для бизнеса&nbsp;&mdash; чтобы чувствовалась сильная техническая экспертиза. Мы&nbsp;совмещаем оба подхода: объясняем без лишней сложности, но&nbsp;работаем как специалисты.</p>
      </li>
      <li class="features__item features__item--lock">
        <p class="features__title">Даем надежность, на которую можно опереться в&nbsp;работе объекта</p>
        <p class="features__text">Для бизнеса, стройки и&nbsp;технических объектов главное&nbsp;&mdash; не&nbsp;допустить остановки. Поэтому мы&nbsp;делаем ставку на&nbsp;надежные решения, грамотный подбор, качественный монтаж и&nbsp;сервисное сопровождение, которое помогает оборудованию работать стабильно и&nbsp;долго.</p>
      </li>
    </ul>
  </div>
</section>
