<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="footer__group footer__group--catalog">
          <p class="footer__subtitle">Каталог</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Генераторы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контейнеры для генераторов</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">ИБП (источники бесперебойного питания)</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">АВР (автоматический ввод резерва)</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Стабилизаторы напряжения</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Дизельные компрессоры</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Мотопомпы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Тепловые пушки</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Модульные котельные</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Виброплиты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Копры (свайные)</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Осветительные мачты</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <p class="footer__subtitle">Услуги</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Лизинг</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Установка и монтаж оборудования</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Сервисное обслуживание и диагностика оборудования</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Подбор оборудования</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Ремонт оборудования</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Модернизация и дооснащение</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Аренда оборудования</a>
            </li>
          </ul>
        </div>
        <div class="footer__group">
          <p class="footer__subtitle">О нас</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Доставка и оплата</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="blog.html">Блог</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гарантии и возврат</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Наши проекты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__group footer__contacts">
          <p class="footer__contacts-title">Связаться с&nbsp;нами</p>
          <a class="footer__contacts-tel" href="tel:+74957488890">+7&nbsp;495&nbsp;748&nbsp;88&nbsp;90</a>
          <a class="footer__contacts-tel" href="tel:+79256484808">+7&nbsp;925&nbsp;648&nbsp;48&nbsp;08</a>
          <a class="footer__contacts-mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">info@generatory-russia.ru</a>
          <p class="footer__contacts-title footer__contacts-title--secondary">Адрес офиса</p>
          <p class="footer__contacts-address">143080, Московская&nbsp;область, Одинцовский&nbsp;р-он, д.п.&nbsp;Лесной городок, ул.Молодёжная,&nbsp;д.6,&nbsp;п.13</p>
          <button class="footer__contacts-callback button button--main button--dark" type="button" aria-label="Открыть форму и заказать обратный звонок" data-modal-button="callback">Заказать звонок</button>
          <p class="footer__contacts-title footer__contacts-title--secondary">Соцсети&nbsp;/ мессенджеры</p>
          <ul class="footer__socials">
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Написать на почту.</span>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--tg" href="https://t.me/+79256484808" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Телеграм.</span>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--max" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Макс.</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        @if (typeof isHomepage !== 'undefined') {
        <a class="footer__logo">
          <img src="img/logo.svg" alt="Логотип компании Energostrateg.">
        </a>
        }
        @if (typeof isHomepage === 'undefined') {
        <a class="footer__logo" href="index.html">
          <img src="img/logo.svg" alt="Логотип компании Energostrateg.">
        </a>
        }
        <div class="footer__details">
          <p>ООО&nbsp;"ГК&nbsp;Энергостратег"</p>
          <p>Юридический адрес: 143080, Московская&nbsp;область, Одинцовский&nbsp;р-он, д.п.&nbsp;Лесной городок, ул.Молодёжная,&nbsp;д.6,&nbsp;п.13</p>
          <p>ИНН&nbsp;9726069136</p>
        </div>
        <ul class="footer__policy">
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#">Политика конфиденциальности</a>
          </li>
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#">Политика обработки временных файлов</a>
          </li>
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="privacy-policy.html">Согласие на&nbsp;обработку персональных данных</a>
          </li>
          <li class="footer__policy-item">
            <a class="footer__policy-link" href="#">Сайт разработан и продвигается в&nbsp;ОФЭП</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<button class="button-scroll-top" type="button">
  <span class="visually-hidden">Прокрутить к началу страницы.</span>
</button>
@include('modal-request.html')
@include('modal-selection.html')
@include('modal-callback.html')
@include('modal-kp.html')
@include('modal-oneclick.html')
@include('modal-review.html')
@include('modal-cheap.html')
@include('modal-success.html')
