<header class="header">
  <div class="container">
    <nav class="header__wrapper">
      <div class="header__top">
        <div class="header__select select">
          <label class="visually-hidden" for="city">Ваш город</label>
          <button class="header__select-button select__button" type="button" aria-label="Открыть список городов.">Москва</button>
          <select class="select__original" id="city" name="city" aria-label="Выбор города">
            <option value="rostov-na-donu">Ростов-на-Дону</option>
            <option value="krasnodar">Краснодар</option>
            <option value="sankt-peterburg">Санкт-Петербург</option>
            <option value="moskva" selected>Москва</option>
            <option value="voronej">Воронеж</option>
            <option value="volgograd">Волгоград</option>
            <option value="novorossiisk">Новороссийск</option>
            <option value="maykop">Майкоп</option>
          </select>
        </div>
        <div class="header__logo">
          @if (typeof isHomepage !== 'undefined') {
          <a class="header__logo-img">
            <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
          </a>
          }
          @if (typeof isHomepage === 'undefined') {
          <a class="header__logo-img" href="index.html">
            <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
          </a>
          }
        </div>
        <div class="header__mobile-contacts">
          <a class="header__mobile-contacts-link header__mobile-contacts-link--tel" href="tel:+7(495)7488890">
            <span class="visually-hidden">+7&nbsp;(495)&nbsp;748&nbsp;88&nbsp;90</span>
          </a>
          <a class="header__mobile-contacts-link header__mobile-contacts-link--mail" href="mailto:info@generatory-russia.ru">
            <span class="visually-hidden">info@generatory-russia.ru</span>
          </a>
        </div>
        <div class="header__menu" data-mobile-menu="main">
          <div class="header__logo-menu">
            @if (typeof isHomepage !== 'undefined') {
            <a class="header__logo-img">
              <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
            </a>
            }
            @if (typeof isHomepage === 'undefined') {
            <a class="header__logo-img" href="index.html">
              <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
            </a>
            }
          </div>
          <button class="header__close-button js-button-close" type="button">
            <span class="visually-hidden">Закрыть меню.</span>
          </button>
          <div class="header__menu-container">
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="header__nav-link" href="about.html">О&nbsp;компании</a>
              </li>
              <li class="header__nav-item header__nav-item--services popup-item">
                <a class="header__nav-link popup-button" href="#">Услуги</a>
                <ul class="header__nav-sublist popup-list">
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Лизинг</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Установка и монтаж оборудования под&nbsp;ключ</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Сервисное обслуживание и диагностика оборудования</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Подбор оборудования</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Ремонт оборудования</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Модернизация и дооснащение</a>
                  </li>
                  <li class="header__nav-subitem">
                    <a class="header__nav-sublink" href="#">Аренда оборудования</a>
                  </li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="blog.html">Блог</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Доставка и оплата</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Гарантии и возврат</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Проекты</a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="#">Контакты</a>
              </li>
            </ul>
            <div class="header__address">
              <p class="header__address-text header__address-text--address">143080, Московская обл., Одинцовский&nbsp;р-н, д.п.&nbsp;Лесной городок, ул.&nbsp;Молодёжная, д.&nbsp;6, п.&nbsp;13</p>
              <p class="header__address-text header__address-text--time">пн-вс с&nbsp;9:00&nbsp;до&nbsp;18:00</p>
              <a class="header__address-text header__address-text--mail" href="mailto:info@generatory-russia.ru">info@generatory-russia.ru</a>
            </div>
            <div class="header__feedback">
              <a class="header__tel" href="tel:+7(495)7488890">+7&nbsp;(495)&nbsp;748&nbsp;88&nbsp;90</a>
              <button class="header__callback" type="button" aria-label="Открыть форму и заказать обратный звонок" data-modal-button="callback">Обратный звонок</button>
            </div>
            <ul class="header__socials js-header-socials">
              <li class="header__socials-item">
                <a class="header__socials-link header__socials-link--tg" href="https://t.me/+79256484808" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Телеграм.</span>
                </a>
              </li>
              <li class="header__socials-item">
                <a class="header__socials-link header__socials-link--max" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Макс.</span>
                </a>
              </li>
              <li class="header__socials-item">
                <a class="header__socials-link header__socials-link--dzen" href="https://dzen.ru/id/623dbda8c523444e0e339c9b" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Яндекс Дзен.</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__bottom-container">
        <div class="header__bottom-wrapper">
          <div class="header__bottom">
            <div class="header__catalog">
              <button class="header__catalog-button button" type="button">Каталог</button>
              <div class="header__catalog-container">
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Генераторы</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Дизель-генераторы (ДГУ)</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Бензогенераторы</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Газовые генераторы</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Сварочные генераторы</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Контейнеры для генератороd</a>
                    </li>
                  </ul>
                </div>
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Электроснабжение и автоматика</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">ИБП (источники бесперебойного питания)</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">АВР (автоматический ввод резерва)</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Стабилизаторы напряжения</a>
                    </li>
                  </ul>
                </div>
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Компрессорное и насосное <br>оборудование</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Дизельные компрессоры</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Мотопомпы</a>
                    </li>
                  </ul>
                </div>
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Тепловое оборудование</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Тепловые пушки</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Модульные котельные</a>
                    </li>
                  </ul>
                </div>
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Строительное оборудование</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Виброплиты</a>
                    </li>
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Копры (свайные)</a>
                    </li>
                  </ul>
                </div>
                <div class="header__catalog-group">
                  <a class="header__catalog-title" href="#">Освещение</a>
                  <ul class="header__catalog-list">
                    <li class="header__catalog-item">
                      <a class="header__catalog-link" href="#">Осветительные мачты</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="header__catalog-mobile-button button button--dark" type="button" data-mobile-menu-button="catalog">Каталог</button>
            <form class="header__search search-form">
              <label class="search-form__field">
                <span class="visually-hidden">Поиск по товарам</span>
                <input class="search-form__input" type="search" name="search" placeholder="Поиск по товарам">
              </label>
              <button class="search-form__button" type="submit">
                <span class="visually-hidden">Искать.</span>
              </button>
            </form>
            <button class="header__menu-open button button--dark" data-mobile-menu-button="main" type="button">Меню</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="header__fix">
    <button class="header__fix-button header__fix-button--catalog" type="button" data-mobile-menu-button="catalog">Каталог</button>
    <ul class="header__user-list">
      <li class="header__user-item">
        <a class="header__user-link header__user-link--user" href="#" target="_blank" rel="noreferrer noopener">
          <span class="header__user-link-text">Профиль</span>
        </a>
      </li>
      <li class="header__user-item header__user-item--compare">
        <a class="header__user-link header__user-link--compare" href="#" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Сравнение</span>
          <span class="header__user-count header-compare-count">2</span>
        </a>
      </li>
      <li class="header__user-item">
        <a class="header__user-link header__user-link--favorite" href="#" target="_blank" rel="noreferrer noopener">
          <span class="header__user-link-text">Избранное</span>
          <span class="header__user-count header-favorites-count">2</span>
        </a>
      </li>
      <li class="header__user-item">
        <a class="header__user-link header__user-link--cart" href="#" target="_blank" rel="noreferrer noopener">
          <span class="header__user-link-text">Корзина</span>
          <span class="header__user-count header-cart-count hidden">2</span>
        </a>
      </li>
    </ul>
    <button class="header__fix-button header__fix-button--tel" type="button" data-mobile-menu-button="contacts">Связаться</button>
  </div>
  <div class="header__menu" data-mobile-menu="catalog">
    <button class="header__close-button js-button-close" type="button">
      <span class="visually-hidden">Закрыть меню.</span>
    </button>
    <form class="header__search search-form">
      <label class="search-form__field">
        <span class="visually-hidden">Поиск по товарам</span>
        <input class="search-form__input" type="search" name="search" placeholder="Поиск по товарам">
      </label>
      <button class="search-form__button" type="submit">
        <span class="visually-hidden">Искать.</span>
      </button>
    </form>
    <p class="header__menu-catalog-title">Каталог</p>
    <ul class="header__menu-catalog-list">
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Генераторы</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Контейнеры для генераторов</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">ИБП (источники бесперебойного питания)</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">АВР (автоматический ввод резерва)</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Стабилизаторы напряжения</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Дизельные компрессоры</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Мотопомпы</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Тепловые пушки</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Модульные котельные</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Виброплиты</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Копры (свайные)</a>
      </li>
      <li class="header__menu-catalog-item">
        <a class="header__menu-catalog-link" href="#">Осветительные мачты</a>
      </li>
    </ul>
    <ul class="header__socials">
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Написать на почту.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--tg" href="https://t.me/+79256484808" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Телеграм.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--max" href="#" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Макс.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--dzen" href="https://dzen.ru/id/623dbda8c523444e0e339c9b" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Яндекс Дзен.</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="header__menu" data-mobile-menu="contacts">
    <div class="header__logo-menu">
      @if (typeof isHomepage !== 'undefined') {
      <a class="header__logo-img">
        <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
      </a>
      }
      @if (typeof isHomepage === 'undefined') {
      <a class="header__logo-img" href="index.html">
        <img src="img/logo.svg" alt="Логотип компании Энергостратег.">
      </a>
      }
    </div>
    <button class="header__close-button js-button-close" type="button">
      <span class="visually-hidden">Закрыть меню.</span>
    </button>
    <div class="header__menu-container">
      <p class="header__menu-contacts-title">Связаться с&nbsp;нами</p>
      <a class="header__menu-contacts-tel" href="tel:+74957488890">+7&nbsp;495&nbsp;748&nbsp;88&nbsp;90</a>
      <a class="header__menu-contacts-tel" href="tel:+79256484808">+7&nbsp;925&nbsp;648&nbsp;48&nbsp;08</a>
      <a class="header__menu-contacts-mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">info@generatory-russia.ru</a>
      <p class="header__menu-contacts-title">Адрес офиса</p>
      <p class="header__menu-contacts-address">117105, г.&nbsp;Москва, вн.тер.г. муниципальный округ Донской, Новоданиловский&nbsp;проезд,&nbsp;д.4.</p>
      <button class="header__menu-contacts-callback button button--main button--dark" type="button" aria-label="Заказать обратный звонок" data-modal-button="callback">Заказать звонок</button>
    </div>
    <ul class="header__socials">
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--mail" href="mailto:info@generatory-russia.ru" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Написать на почту.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--tg" href="https://t.me/+79256484808" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Телеграм.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--max" href="#" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Макс.</span>
        </a>
      </li>
      <li class="header__socials-item">
        <a class="header__socials-link header__socials-link--dzen" href="https://dzen.ru/id/623dbda8c523444e0e339c9b" target="_blank" rel="noreferrer noopener">
          <span class="visually-hidden">Яндекс Дзен.</span>
        </a>
      </li>
    </ul>
  </div>
</header>
