<section class="items block">
  <div class="container">
    <h2 class="items__title title">Способы оплаты</h2>
    <p class="items__desc">Мы&nbsp;предлагаем несколько вариантов оплаты в&nbsp;зависимости от&nbsp;формата заказа, категории клиента и&nbsp;типа оборудования. Конкретные условия оплаты согласовываются при оформлении, чтобы клиенту было удобно пройти этот этап без лишних сложностей.</p>
    <ul class="items__list" data-align="grid">
      <li class="items__item">
        <p class="items__subtitle">Наличный расчет</p>
        <ul class="items__text" data-align="text">
          <li>* При оплате товара в&nbsp;офисе компании.</li>
          <li>* При получении оборудования, если такой формат согласован заранее.</li>
          <li>* Подходит для части частных клиентов и&nbsp;заказов, где удобен быстрый расчет без сложного документооборота.</li>
        </ul>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Безналичный расчет без НДС</p>
        <ul class="items__text" data-align="text">
          <li>* Оплата по&nbsp;счету после согласования заказа.</li>
          <li>* Подходит для клиентов, работающих без НДС.</li>
          <li>* Платежные документы рекомендуется сохранить до&nbsp;получения оборудования.</li>
        </ul>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Безналичный расчет с&nbsp;НДС&nbsp;22%</p>
        <ul class="items__text" data-align="text">
          <li>* Оплата по&nbsp;счету после согласования заказа.</li>
          <li>* Подходит для юридических лиц и&nbsp;компаний, работающих с&nbsp;НДС.</li>
          <li>* Все документы и&nbsp;реквизиты предоставляются при оформлении заказа.</li>
        </ul>
      </li>
      <li class="items__item">
        <p class="items__subtitle">Лизинг</p>
        <ul class="items__text" data-align="text">
          <li>* Возможность оформить оборудование на&nbsp;более удобных финансовых условиях.</li>
          <li>* Подходит для клиентов, которые хотят распределить нагрузку на&nbsp;бюджет при покупке техники.</li>
          <li>* Условия лизинга согласовываются индивидуально.</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
