<section class="product">
  <div class="container">
    <h2 class="title">Топ-продаж</h2>
    <div class="product__swiper-container">
      <div class="product__swiper" data-swiper="navigation">
        <ul class="product__swiper-wrapper" data-swiper="cards">
          <li class="product__slide">
            <div class="product__slide-container product__card card-favorite">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--sale">-10&nbsp;%</p>
                  <p class="product__card-tag product__card-tag--hit">Хит</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card card-compare">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
          <li class="product__slide">
            <div class="product__slide-container product__card">
              <div class="product__card-header">
                <div class="product__card-tags">
                  <p class="product__card-tag product__card-tag--new">Новинка</p>
                </div>
                <div class="product__card-user">
                  <button class="product__card-user-button product__card-user-button--favorite">
                    <span class="visually-hidden">Добавить в избранное.</span>
                  </button>
                  <button class="product__card-user-button product__card-user-button--compare">
                    <span class="visually-hidden">Добавить к сравнению.</span>
                  </button>
                </div>
              </div>
              <div class="product__card-content">
                <a class="product__card-title" href="#" data-modal-title>Дизельный генератор Denzel DES-55E (4.5&nbsp;кВт)</a>
                <div class="product__card-swiper-container">
                  <div class="product__card-swiper swiper">
                    <ul class="product__card-swiper-wrapper swiper-wrapper">
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="product__card-slide swiper-slide">
                        <div class="product__card-img">
                          <picture>
                            <source width="143" height="143" type="image/webp" srcset="img/products/benzo-tablet@1x.webp 1x, img/products/benzo-tablet@2x.webp 2x">
                            <img src="img/products/benzo-tablet@1x.png" srcset="img/products/benzo-tablet@2x.png 2x" width="143" height="143" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="product__card-swiper-scrollbar"></div>
                  </div>
                </div>
                <dl class="product__card-details">
                  <div>
                    <dt>Напряжение:</dt>
                    <dd>220&nbsp;В</dd>
                  </div>
                  <div>
                    <dt>Стартер:</dt>
                    <dd>ручной стартер/электростартер</dd>
                  </div>
                  <div>
                    <dt>Альтернатор:</dt>
                    <dd>синхронный</dd>
                  </div>
                  <div>
                    <dt>Автозапуск:</dt>
                    <dd>нет</dd>
                  </div>
                </dl>
                <div class="product__card-button-container">
                  <p class="product__card-prices">
                    <span class="product__card-price product__card-price--new">23&nbsp;134&nbsp;₽</span>
                    <span class="product__card-price product__card-price--old">28&nbsp;827&nbsp;₽</span>
                  </p>
                  <button class="product__card-button button button--main" type="button">В корзину</button>
                </div>
                <button class="product__card-button button button--main button--light" type="button" data-modal-button="delivery-form" data-modal-dynamic>Купить в 1 клик</button>
              </div>
            </div>
          </li>
        </ul>
        <div class="product__swiper-scrollbar hidden"></div>
      </div>
    </div>
    <button class="product__order button button--main" type="button">Подобрать оборудование</button>
  </div>
</section>
