<div class="popup-cookies">
  <div class="popup-cookies__content">
    <p class="popup-cookies__text">&laquo;Мы&nbsp;используем файлы cookie, чтобы улучшить работу сайта и&nbsp;сделать ваш опыт более удобным. Продолжая использовать наш сайт, вы&nbsp;соглашаетесь на&nbsp;их&nbsp;использование&raquo;.</p>
    <div class="popup-cookies__buttons">
      <button class="popup-cookies__button button button--main" type="button">Принять</button>
      <a class="button button--main button--white" href="https://ya.ru" target="_blank" rel="noreferrer noopener">Отклонить</a>
    </div>
  </div>
</div>
