<section class="quick">
  <div class="container">
    <h2 class="quick__title title">Быстрый подбор оборудования</h2>
    <div class="quick__tabs tabs js-show-more">
      <div class="quick__tablinks tabs__tablinks">
        <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="dizel">Дизельные генераторы</button>
        <button class="quick__tablink button tabs__tablink" type="button" data-tab="benzo">Бензогенераторы</button>
        <button class="quick__tablink button tabs__tablink" type="button" data-tab="gaz">Газовые генераторы</button>
        <button class="quick__tablink button tabs__tablink" type="button" data-tab="compressor">Компрессоры</button>
        <button class="quick__tablink button tabs__tablink" type="button" data-tab="ibp">ИБП (источники бесперебойного питания)</button>
        <button class="quick__tablink button tabs__tablink" type="button" data-tab="avr">АВР (автоматический ввод резерва)</button>
      </div>
      <div class="quick__tabcontents tabs__tabcontents">
        <div class="quick__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="dizel">
          <div class="quick__tabs tabs">
            <div class="quick__subtablinks tabs__tablinks">
              <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="dizel-power">По мощности</button>
              <button class="quick__tablink button tabs__tablink" type="button" data-tab="dizel-type">По виду</button>
              <button class="quick__tablink button tabs__tablink" type="button" data-tab="dizel-producer">По производителю</button>
            </div>
            <div class="quick__subtabcontents tabs__tabcontents">
              <div class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-list-active js-show-more-mobile-only" data-tab-content="dizel-power">
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <button class="quick__show-more js-show-more-button" type="button"><span>Показать еще</span></button>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="dizel-type">
                <a class="quick__link button" href="#">Синхронные</a>
                <a class="quick__link button" href="#">Асинхронные</a>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="dizel-producer">
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
              </div>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="benzo">
          <div class="quick__tabs tabs">
            <div class="quick__subtablinks tabs__tablinks">
              <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="benzo-power">По мощности</button>
              <button class="quick__tablink button tabs__tablink" type="button" data-tab="benzo-producer">По производителю</button>
            </div>
            <div class="quick__subtabcontents tabs__tabcontents">
              <div class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only" data-tab-content="benzo-power">
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
                <a class="quick__link button" href="#">120 квт</a>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="benzo-producer">
                <a class="quick__link button" href="#">Первый</a>
                <a class="quick__link button" href="#">Второй</a>
              </div>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="gaz">
          <div class="quick__tabs">
            <div class="quick__subtabcontents">
              <div class="quick__subtabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only">
                <a class="quick__link button" href="#">На природном газе</a>
                <a class="quick__link button" href="#">На сжиженном газе</a>
                <a class="quick__link button" href="#">Универсальные</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="quick__order button button--main" type="button" aria-label="Заказать подбор" data-modal-button="callback">Заказать подбор</button>
  </div>
</section>
