<section class="quick block">
  <div class="container">
    <h2 class="quick__title title">Быстрый подбор оборудования</h2>
    <div class="quick__tabs tabs js-show-more">
      <ul class="quick__tablinks tabs__tablinks">
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="dizel">Дизельные генераторы</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="benzo">Бензогенераторы</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="gaz">Газовые генераторы</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="compressor">Компрессоры</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="ibp">ИБП (источники бесперебойного питания)</button>
        </li>
        <li class="quick__tablinks-item">
          <button class="quick__tablink button tabs__tablink" type="button" data-tab="avr">АВР (автоматический ввод резерва)</button>
        </li>
      </ul>
      <div class="quick__tabcontents tabs__tabcontents">
        <div class="quick__tabcontent tabs__tabcontent tabs__tabcontent--active" data-tab-content="dizel">
          <div class="quick__tabs tabs">
            <ul class="quick__subtablinks tabs__tablinks">
              <li class="quick__tablinks-item">
                <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="dizel-power">По мощности</button>
              </li>
              <li class="quick__tablinks-item">
                <button class="quick__tablink button tabs__tablink" type="button" data-tab="dizel-type">По виду</button>
              </li>
              <li class="quick__tablinks-item">
                <button class="quick__tablink button tabs__tablink" type="button" data-tab="dizel-producer">По производителю</button>
              </li>
            </ul>
            <div class="quick__subtabcontents tabs__tabcontents">
              <div class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-list-active js-show-more-mobile-only" data-tab-content="dizel-power">
                <ul class="quick__link-list">
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                </ul>
                <button class="quick__show-more js-show-more-button" type="button"><span>Показать еще</span></button>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="dizel-type">
                <ul class="quick__link-list">
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Синхронные</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Асинхронные</a>
                  </li>
                </ul>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="dizel-producer">
                <ul class="quick__link-list">
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="benzo">
          <div class="quick__tabs tabs">
            <ul class="quick__subtablinks tabs__tablinks">
              <li class="quick__tablinks-item">
                <button class="quick__tablink button tabs__tablink tabs__tablink--active" type="button" data-tab="benzo-power">По мощности</button>
              </li>
              <li class="quick__tablinks-item">
                <button class="quick__tablink button tabs__tablink" type="button" data-tab="benzo-producer">По производителю</button>
              </li>
            </ul>
            <div class="quick__subtabcontents tabs__tabcontents">
              <div class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only" data-tab-content="benzo-power">
                <ul class="quick__link-list">
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">120 квт</a>
                  </li>
                </ul>
              </div>
              <div class="quick__subtabcontent tabs__tabcontent js-show-more-list js-show-more-mobile-only" data-tab-content="benzo-producer">
                <ul class="quick__link-list">
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Первый</a>
                  </li>
                  <li class="quick__link-item">
                    <a class="quick__link button js-show-more-tag" href="#">Второй</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="quick__tabcontent tabs__tabcontent" data-tab-content="gaz">
          <div class="quick__tabs">
            <div class="quick__subtabcontents">
              <ul class="quick__subtabcontent tabs__tabcontent tabs__tabcontent--active js-show-more-list js-show-more-mobile-only">
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">На природном газе</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">На сжиженном газе</a>
                </li>
                <li class="quick__link-item">
                  <a class="quick__link button js-show-more-tag" href="#">Универсальные</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="quick__order button button--main" type="button" aria-label="Открыть форму и заказать подбор" data-modal-button="selection">Заказать подбор</button>
  </div>
</section>
