<section class="reviews block">
  <div class="container">
    <h2 class="reviews__title title">Отзывы</h2>
    <div class="reviews__swiper-container">
      <div class="reviews__swiper" data-swiper="navigation">
        <ul class="reviews__swiper-wrapper">
          <li class="reviews__slide">
            <a class="reviews__card" href="#">
              <div class="reviews__img">
                <picture>
                  <source width="213" height="62" type="image/webp" srcset="img/rating/yandex@1x.webp 1x, img/rating/yandex@2x.webp 2x">
                  <img src="img/rating/yandex@1x.jpg" srcset="img/rating/yandex@2x.jpg 2x" width="213" height="62" alt="">
                </picture>
              </div>
              <p class="reviews__text">Рейтинг</p>
              <p class="reviews__rating">4.9</p>
              <div class="reviews__stars stars stars--five">
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
              </div>
            </a>
          </li>
          <li class="reviews__slide">
            <a class="reviews__card" href="#">
              <div class="reviews__img">
                <picture>
                  <source width="213" height="62" type="image/webp" srcset="img/rating/2gis@1x.webp 1x, img/rating/2gis@2x.webp 2x">
                  <img src="img/rating/2gis@1x.jpg" srcset="img/rating/2gis@2x.jpg 2x" width="213" height="62" alt="">
                </picture>
              </div>
              <p class="reviews__text">Рейтинг</p>
              <p class="reviews__rating">4.9</p>
              <div class="reviews__stars stars stars--five">
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
              </div>
            </a>
          </li>
          <li class="reviews__slide">
            <a class="reviews__card" href="#">
              <div class="reviews__img">
                <picture>
                  <source width="213" height="62" type="image/webp" srcset="img/rating/zoon@1x.webp 1x, img/rating/zoon@2x.webp 2x">
                  <img src="img/rating/zoon@1x.jpg" srcset="img/rating/zoon@2x.jpg 2x" width="213" height="62" alt="">
                </picture>
              </div>
              <p class="reviews__text">Рейтинг</p>
              <p class="reviews__rating">4.9</p>
              <div class="reviews__stars stars stars--five">
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
              </div>
            </a>
          </li>
          <li class="reviews__slide">
            <a class="reviews__card" href="#">
              <div class="reviews__img">
                <picture>
                  <source width="213" height="62" type="image/webp" srcset="img/rating/google@1x.webp 1x, img/rating/google@2x.webp 2x">
                  <img src="img/rating/google@1x.jpg" srcset="img/rating/google@2x.jpg 2x" width="213" height="62" alt="">
                </picture>
              </div>
              <p class="reviews__text">Рейтинг</p>
              <p class="reviews__rating">4.9</p>
              <div class="reviews__stars stars stars--five">
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
              </div>
            </a>
          </li>
        </ul>
        <div class="reviews__swiper-scrollbar hidden"></div>
      </div>
    </div>
  </div>
</section>
