<section class="reviews block">
  <div class="container">
    <h2 class="reviews__title title">Отзывы</h2>
    <div class="reviews__swiper-container">
      <div class="reviews__swiper" data-swiper="navigation">
        <ul class="reviews__swiper-wrapper">
          <li class="reviews__slide">
            <div class="reviews__card">
              <div class="reviews__img">
                <picture>
                  <source width="213" height="62" type="image/webp" srcset="img/raiting/yandex@1x.webp 1x, img/raiting/yandex@2x.webp 2x">
                  <img src="img/raiting/yandex@1x.jpg" srcset="img/raiting/yandex@2x.jpg 2x" width="213" height="62" alt="">
                </picture>
              </div>
              <p class="reviews__subtitle">Рейтинг</p>
              <p class="reviews__rainig">4.9</p>
              <dd class="reviews__stars stars stars--five">
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
                <span class="stars__icon" aria-hidden="true"></span>
              </dd>
            </div>
          </li>
        </ul>
        <div class="reviews__swiper-scrollbar hidden"></div>
      </div>
    </div>
  </div>
</section>
