<section class="selection block">
  <div class="container js-show-more" data-count="6">
    <h2 class="title">Этот товар входит в&nbsp;подборки</h2>
    <div class="selection__wrapper js-show-more-list js-show-more-list-active js-show-more-mobile-only">
      <ul class="selection__list">
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы 5–6 кВт</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы 220 В</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Однофазные генераторы</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Дизельные</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы с ручным запуском</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Открытые генераторы</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы с воздушным охлаждением</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы для дома</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы для дачи</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы для стройки</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы до 12 часов работы</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Синхронные генераторы</a>
        </li>
        <li class="selection__item">
          <a class="selection__link button js-show-more-tag" href="#">Генераторы с силовой розеткой 230В</a>
        </li>
      </ul>
      <button class="selection__show-more js-show-more-button" type="button"><span>Показать еще</span></button>
    </div>
  </div>
</section>
