<section class="services-preview block">
  <div class="container">
    <h2 class="services-preview__title title">Услуги</h2>
    <p class="services-preview__text">Сопровождаем не&nbsp;только продажу, но&nbsp;и&nbsp;внедрение. Это особенно удобно для клиентов, которые хотят решать вопрос электроснабжения через одного подрядчика.</p>
    <ul class="services-preview__list">
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/selection@1x.webp 1x, img/services/selection@2x.webp 2x">
              <img src="img/services/selection@1x.jpg" srcset="img/services/selection@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Подбор оборудования</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/install@1x.webp 1x, img/services/install@2x.webp 2x">
              <img src="img/services/install@1x.jpg" srcset="img/services/install@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Установка и монтаж оборудования</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/repair@1x.webp 1x, img/services/repair@2x.webp 2x">
              <img src="img/services/repair@1x.jpg" srcset="img/services/repair@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Ремонт оборудования</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/rent@1x.webp 1x, img/services/rent@2x.webp 2x">
              <img src="img/services/rent@1x.jpg" srcset="img/services/rent@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Аренда оборудования</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/modern@1x.webp 1x, img/services/modern@2x.webp 2x">
              <img src="img/services/modern@1x.jpg" srcset="img/services/modern@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Модернизация и дооснащение</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
      <li class="services-preview__item">
        <a class="services-preview__card" href="#">
          <div class="services-preview__img">
            <picture>
              <source width="454" height="370" type="image/webp" srcset="img/services/leasing@1x.webp 1x, img/services/leasing@2x.webp 2x">
              <img src="img/services/leasing@1x.jpg" srcset="img/services/leasing@2x.jpg 2x" width="454" height="370" alt="">
            </picture>
          </div>
          <h3 class="services-preview__subtitle">Лизинг</h3>
          <p class="services-preview__link button button--main">Подробнее</p>
        </a>
      </li>
    </ul>
    <a class="services-preview__link-more button button--main" href="#">Смотреть все услуги</a>
  </div>
</section>
